<div class="card border-0">
    <div class="card-body">
        <ng-template [ngIf]="!isDetail">
            <div class="user">
                <h3 class="font-weight-bold mb-4">{{ 'FECustomer.classInfo' | translate }}</h3>

                <div *ngIf="cstable.data?.length" class="text-nowrap overflow-auto">
                    <table class="table table-hover table-bordered table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)" [ngClass]="{
                                        'cursor-pointer': col.filter,
                                        'd-none': !col.show
                                    }" style="border-width: 1px;">
                                    <div [(ngSwitch)]="col.field">
                                        <span *ngSwitchDefault>
                                            {{ col.title | translate }}
                                        </span>
                                        <i *ngIf="cstable.sorting.field == col.field" class="fa ml-2" [ngClass]="{
                                                'fa-long-arrow-down': cstable.sorting.sort == 'asc',
                                                'fa-long-arrow-up': cstable.sorting.sort == 'desc'
                                            }"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of cstable.data">
                            <tr>
                                <td class="text-wrap align-middle" [attr.rowspan]="item.product_list.length + 1"
                                    style="min-width: 175px;">
                                    {{ item.class_name }}
                                    <div *ngIf="item.majors_score_avg">
                                        <span>Điểm tổng kết:</span>
                                        <span class="font-weight-bold">
                                            {{ item.majors_score_avg ? majors_score_avg : '&nbsp;' }}
                                        </span>
                                        <br />
                                        <span>
                                            Xếp loại:
                                            {{ handleRank(+item.majors_score_avg) }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let product of item.product_list">
                                <td *ngFor="let col of cstable.cols | slice:1:13" class="align-middle">
                                    <ng-container [(ngSwitch)]="col.field">
                                        <div *ngSwitchCase="'product_name'" class="text-wrap" style="min-width: 250px;">
                                            {{ product[col.field] }}
                                        </div>
                                        <div *ngSwitchCase="'is_attendance'"
                                            [class.text-danger]="!product[col.field] || +product[col.field] === 0">
                                            {{ +product[col.field] === 1 ? 'Đạt' : (
                                            (product[col.field] && +product[col.field] === 0) ? 'Không đạt' : '&nbsp;'
                                            )}}
                                        </div>
                                        <div *ngSwitchCase="'score_factor_1'">
                                            {{ product[col.field] && +product[col.field] >= 0 ? product[col.field] :
                                            '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'score_factor_2'">
                                            {{ product[col.field] && +product[col.field] >= 0 ? product[col.field] :
                                            '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'is_discipline'">
                                            {{ +product[col.field] === 1 ? 'Có' : (product[col.field] &&
                                            +product[col.field] === 0 ? 'Không' : '&nbsp;') }}
                                        </div>
                                        <div *ngSwitchCase="'score_1'">
                                            {{ product[col.field] && +product[col.field] >= 0 ? product[col.field] :
                                            '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'score_2'">
                                            {{ product[col.field] && +product[col.field] >= 0 ? product[col.field] :
                                            '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'score_avg'">
                                            {{ product[col.field] && +product[col.field] >= 0 ? product[col.field] :
                                            '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'is_pass'"
                                            [ngClass]="!product[col.field] || +product[col.field] === 0 ? 'text-danger' : 'text-success'">
                                            {{ +product[col.field] === 1 ? 'Qua môn' : (product[col.field] &&
                                            +product[col.field] === 0 ? 'Rớt môn' : '&nbsp;') }}
                                        </div>
                                        <div *ngSwitchCase="'action'" class="text-center">
                                            <button class="btn btn-link text-decoration-none p-0"
                                                (click)="+product.videos === 1 && handleDetailClick(+product.product_id)"
                                                [class.cursor-pointer]="+product.videos === 1"
                                                style="font-size: 13px; cursor: default;">
                                                {{ +product.videos === 1 ? ('FEbtn.viewDetail' | translate) :
                                                '&nbsp;' }}
                                            </button>
                                        </div>
                                        <!-- <div *ngSwitchCase="'majors_score_avg'">
                                            {{ item.majors_score_avg ? majors_score_avg : '&nbsp;' }}
                                        </div>
                                        <div *ngSwitchCase="'classification'">
                                            {{ handleRank(+item.class_name) }}
                                        </div> -->
                                    </ng-container>
                                </td>
                            </tr>
                            <!-- 
                            <tr>
                                <td class="align-middle" [attr.rowspan]="item.product_list.length">
                                    {{ item.majors_score_avg ? majors_score_avg : '&nbsp;' }}
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle" [attr.rowspan]="item.product_list.length">
                                    {{ handleRank(+item.class_name) }}
                                </td>
                            </tr> 
                            -->
                        </tbody>
                    </table>
                </div>

                <div class="mt-4">
                    <p class="mb-3 font-weight-bold">Ghi chú:</p>
                    <ul class="nav flex-column">
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">HS 1</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_hs_1' | translate }}</span>
                        </li>
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">HS 2</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_hs_2' | translate }}</span>
                        </li>
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">TL 1</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_score_1' | translate }}</span>
                        </li>
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">TL 2</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_score_2' | translate }}</span>
                        </li>
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">TBM</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_score_avg' | translate }}</span>
                        </li>
                        <li class="nav-item border-left mb-2 pl-3 border-danger">
                            <span class="font-weight-bold">ĐTK</span>
                            <span class="text-danger mx-1">*</span>:
                            <span style="font-size:14px">{{ 'FECustomer.note_score_final' | translate }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]="isDetail">
            <div class="user">
                <a class="btn btn-link h3 mb-4 p-0" (click)="isDetail = false" style="font-size: 14px;">
                    <i class="fal fa-long-arrow-left mr-1"></i>
                    {{ 'FEbtn.return' | translate }}
                </a>
                <div class="mb-4">
                    <span>{{ detail.name }}</span>
                </div>
                <div [innerHTML]="detail.videos | sanitizeHtml"></div>
            </div>
        </ng-template>
    </div>
</div>