<div class="row">
    <div class="col-sm-12 col-md-3 pr-md-0">
        <app-groupgetlist (filter)="filterEvent($event)"></app-groupgetlist>
    </div>
    <div class="col-sm-12 col-md-9">
        <app-getlist-customer [filter]="filter"></app-getlist-customer>
    </div>
</div>