<div class="services-item">
    <div class="top">
        <a href="service-details.html">
            <img src="assets/images/services/main1.jpg" alt="Services">
        </a>
    </div>
    <div class="bottom">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="flaticon-lasik icon"></i>
        <h3>
            <a href="service-details.html">Retina Repair</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        </p>
        <a class="services-btn" href="service-details.html">
            More Details
            <i class='bx bx-plus'></i>
        </a>
    </div>
</div>