// @import 'src/style/mixins';

// .contact-icon {
//     $size: 40px;
//     right: $size / 1.5;
//     // @include viewport-sm {
//     //     right: $size / 3;
//     //     bottom: $size * 2 + ($size / 4);
//     // }
//     bottom: $size * 2.75;
//     // z-index: $secondary-zIndex;

//     &__item {
//         width: $size;
//         height: $size;
//         box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
//             rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
//         &:not(:first-child) {
//             margin-top: 10px;
//         }
//     }
// }
// .scroll-top {
//     $size: 40px;

//     right: $size / 1.5;
//     // @include viewport-sm {
//     //     right: $size / 3;
//     //     bottom: $size;
//     // }
//     bottom: $size * 1.5;
//     width: $size;
//     height: $size;
//     line-height: $size;

//     font-size: 20px;
//     opacity: 0;
//     // z-index: $secondary-zIndex;

//     &--show {
//         opacity: 1;
//     }
// }



/*----- Go Top -----*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 0;
  color: #fff;
  background-color: #20bdd1;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  border-radius: 50%;
  border: 1px solid #20bdd1;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 25px;
  line-height: 45px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top.active {
  right: 1%;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  color: #fff;
  border: 1px solid #02123a;
  background-color: #02123a;
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}