<!-- <div class="form-group">
    <select class="form-control" (change)="onCheckItem(item)">
        <option *ngFor="let item of table.data" [value]="item.id">
            {{ item.name }}
        </option>
    </select>
</div> -->

<div class="dropdown mb-3">
    <button class="btn dropdown-toggle border border-dark bg-white px-5" type="button" id="dropdownMenuButton"
        data-toggle="dropdown">
        Lớp: <span class="font-weight-bold">{{ isActiveName ? isActiveName : table.data[0]?.name }}</span>
    </button>
    <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
        <button *ngFor="let item of table.data" class="dropdown-item bg-light text-dark"
            (click)="onCheckItem(item.id, item.name)">
            {{ item.name }}
        </button>
    </div>
</div>

<div class="card  postion-sticky d-none">
    <!-- <div class=" card-header">
        <strong>{{'score.titleGroup' | translate }}</strong>
        <span class="tools pull-right float-md-right">
        </span>
    </div> -->
    <table class="table table-hover mb-0">
        <!-- <thead>
            <tr>
                <th *ngFor="let col of table.cols" (click)="table._sorting(col.field)"
                    [ngClass]="{ 'sorting' : table.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{col.title | translate }}</span>
                    </div>
                </th>
            </tr>
        </thead> -->
        <tbody>
            <!-- <tr *ngFor="let item of table.data; let i = index" class="cursor-pointer hover-row"
                (click)="onCheckItem(item)"
                [ngClass]="{'status-off': item.status && item.status==0 ,'activeRows' : item.check == true}">
                <td *ngFor="let col of table.cols" [ngClass]="{ 'd-none' : col.show==false}">
                    <span [(ngSwitch)]="col.field">
                        <span *ngSwitchCase="'name'">
                            {{item[col.field]}}
                        </span>
                        <span *ngSwitchDefault>{{item[col.field]}}</span>
                    </span>
                </td>
            </tr> -->
            <!-- <div class="form-group">
                <select class="form-control" (change)="onCheckItem(item)">
                    <option *ngFor="let item of table.data" [value]="item.id">
                        {{ item.name }}
                    </option>
                </select>
            </div> -->
        </tbody>
    </table>

    <!-- <div class="card-footer">
        <div class="float-md-left">
            <span>{{ table.settings.first }} - {{ table.settings.last }} of {{ table.settings.total }}</span>
            <span>
                <a (click)="table._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="table._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div> -->
</div>