<form [formGroup]="fm" *ngIf="fm">
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'partner.titleEdit':'partner.titleAdd') | translate : {name : fm.value.company}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4 text-center">
                        <div class="form-group ">
                            <div class="imagesThumb" *ngIf="logo">
                                <div class="rounded-circle" *ngFor="let item of logo.data ; let i = index">
                                    <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                    <span (click)="logo._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                        class="change">
                                        <i class="far fa-image"></i>
                                    </span>
                                    <span (click)="logo._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span (click)="logo._push($event)" *ngIf="item.type==2" class="add">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                </div>
                                <input type="file" (change)="logo._onchange($event)" id="logo">
                            </div>
                            <label for="logo" translate>size.partner</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="form-group">
                            <label for="company">{{ 'partner.company' | translate }}<span
                                    class="text-danger pl-2">*</span></label>
                            <input type="text" class="form-control" name="company" formControlName="company"
                                autocomplete="off" id="company" placeholder="{{ 'partner.company' | translate }}">
                            <small *ngIf="!fm.get('company').valid && fm.get('company').touched" style="color:red">
                                {{'message.required' | translate}}</small>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-8 pr-md-0">
                                <div class="form-group">
                                    <label for="link">{{ 'lblLink' | translate }}</label>
                                    <input type="text" class="form-control" name="link" formControlName="link" id="link"
                                        autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="orders">{{ 'lblOrders' | translate }}</label>
                                    <input type="number" class="form-control" name="orders" formControlName="orders"
                                        autocomplete="off" id="orders" placeholder="{{ 'lblOrders' | translate }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group  pt-2">
                            <label for="note">{{'lblNote' | translate}}</label>
                            <textarea formControlName="note" class="form-control" id="note" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <label class="lable-switch pull-left">
                <div class="switch">
                    <input checked="checked" formControlName="status" type="checkbox" name="status">
                    <span class="lever"></span>
                </div>
                <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                    'status.off') | translate }}</span>
            </label>
            <div>
                <button type="submit" [disabled]="!fm.valid" (click)="onSubmit()" class="btn btn-success float-right">
                    {{'btn.save' | translate}}
                </button>
                <button type="button" [routerLink]="['/admin/partner/get-list']"
                    class="btn btn-primary float-right mr-2">{{'btn.back'
                    | translate }}</button>
            </div>
        </div>
    </div>
</form>