@import 'src/style/mixins';

.password--toggle {
	// @extend %position-center-y;
	right: 1rem;
	font-size: 1.4rem;
	z-index: 1;
}
.form-control:focus {
	// border-color: $primaryColor !important;
}
.form-social {
	button {
		width: 49%;
		font-size: 1.3rem;
		img {
			max-width: 1.75rem;
		}
	}
}
