<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <div class="top">
                <span class="top-title">Latest News</span>
                <span class="sub-title">News & Blog</span>
            </div>
            <h2>Opnix Latest News From Our Blog</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <app-box-news></app-box-news>
            </div>
            <div class="col-lg-4 col-sm-6">
                <app-box-news></app-box-news>
            </div>
            <div class="col-lg-4 col-sm-6">
                <app-box-news></app-box-news>
            </div>
        </div>
    </div>
</section>