<div class="blog-item">
    <div class="top">
        <a href="blog-details.html">
            <img src="assets/images/blog/main1.jpg" alt="Blog">
        </a>
    </div>
    <div class="bottom">
        <h3>
            <a href="blog-details.html">Why Do People Get Kidney Stones In The Summer?</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <ul>
            <li>
                <span>February 5, 2021</span>
            </li>
        </ul>
    </div>
</div>