<!-- <div class="menu-mobile bg-white vh-100 position-relative">
    <div class="clearfix hamburger-container">
        <div (click)="_handleCloseOnMobile()" [ngClass]="{'hamburger--open': statusOnMobile}"
            class="hamburger position-relative cursor-pointer float-right">
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
            <span class="d-block w-100 position-absolute"></span>
        </div>
    </div>

    <div>
        <div class="user d-flex align-items-center" *ngIf="globals.CUSTOMER.check() == false">
            <div class="user-info">
                <a (click)="routerLinkUser('dang-nhap')">{{ 'lblUser' | translate }}</a>
                <span class="mx-3">/</span>
                <a (click)="routerLinkUser('doanh-nghiep')">{{ 'lblCompany' | translate }}</a>
            </div>
        </div>
        <div class="user d-flex align-items-center" *ngIf="globals.CUSTOMER.check() == true">
            <div class="mr-3 rounded-circle border d-inline-flex p-3">
                <i class="fal fa-user"></i>
            </div>
            <div class="user-info" (click)="infoUser()">
                <span>
                    Tài khoản
                    <span class="mx-2">/</span>
                </span>
                <span (click)="logout()">Đăng xuất</span>
                <br />
                <span class="user-text font-weight-bold" style="font-size: 20px;">
                    {{ globals.CUSTOMER.get().name }}
                </span>
            </div>
        </div>
    </div>

    <nav class="bg-light navbar flex-column justify-content-between h-100 p-0">
        <ul class="navbar-nav w-100" *ngIf="menu && menu.length > 0">
            <ng-template #recursiveMenu let-menu>
                <li *ngFor="let item of menu; let i = index" [ngClass]="{'active': itemActive == item.id}">
                    <a class="position-relative d-flex align-items-center justify-content-between" href="javascript:;"
                        [ngClass]="['level-' + item.level]"
                        [ngStyle]="{'border-bottom': (i == menu.length -1 && item.level == 2) ? '1px solid #ececec' : ''}">
                        <a *ngIf="item.link_redirect && item.link_redirect !== ''" [href]="item.link_redirect"
                            class="text-truncate" style="text-decoration: none;">
                            <span [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                                {{item.name}}
                            </span>
                        </a>

                        <span class="text-truncate" *ngIf="!item.link_redirect || item.link_redirect === ''"
                            (click)="routerLink(item)"
                            [ngClass]="item.data.length > 0 && +item.level < 2 ? 'w-75' : 'w-100'">
                            {{item.name}}</span>

                        <i class="fal fa-angle-down" (click)="showItem(item)"
                            [ngClass]="{'active-arrow':  itemActive == item.id}"
                            *ngIf="item.data.length > 0 && +item.level < 2"></i>
                    </a>

                    <div class="dropdown-menu-item" *ngIf="item.data && item.data.length > 0 && +item.level < 2 ">
                        <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: item.data }">
                        </ng-container>
                    </div>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: menu }">
            </ng-container>
        </ul>
    </nav>

    <div class="nav-social bg-light position-absolute bg-white">
        <nav class="nav flex-column p-3 text-center">
            <li class="nav-item nav-social-phone pt-1"
                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [attr.href]="'tel: ' + ('FEPhone' | translate)">
                    <i class="fal fa-phone mr-2"></i>
                    <span>{{ 'FEPhone' | translate }}</span>
                </a>
            </li>
            <li class="nav-item nav-social-mail pt-1"
                *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [attr.href]="'mailto: ' + ('FEMail' | translate)">
                    <i class="fal fa-envelope mr-2"></i>
                    <span>{{ 'FEMail' | translate }}</span>
                </a>
            </li>
        </nav>

        <hr class="m-0" />

        <nav class="nav flex-nowrap text-center p-3 ">
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefFacebook' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center "
                *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram' && ('FEHrefInstagram' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefFacebook' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefZalo' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    Zalo
                </a>
            </li>
            <li class="nav-item flex-fill text-center"
                *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube' && ('FEHrefYoutube' | translate) != ''">
                <a class="nav-link p-0 text-secondary" [href]="('FEHrefYoutube' | translate)" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </nav>
    </div>
</div> -->

<div class="navbar-area sticky-top mr-0">

    <div class="mobile-nav">
        <a href="index-2.html" class="logo">
            <img src="assets/images/logo.png" alt="Logo">
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light px-0">
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle active">Home <i
                                    class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link active">Home Demo One</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-3.html" class="nav-link">Home Demo Two</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-4.html" class="nav-link">Home Demo Three</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Pages <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="account.html" class="nav-link">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a href="appointment.html" class="nav-link">Appointment</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="404.html" class="nav-link">404 Error Page</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Doctors <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="doctors.html" class="nav-link">Doctors</a>
                                </li>
                                <li class="nav-item">
                                    <a href="doctor-details.html" class="nav-link">Doctor Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Services <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a href="service-left-sidebar.html" class="nav-link">Service Left Sidebar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="service-right-sidebar.html" class="nav-link">Service Right Sidebar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="service-details.html" class="nav-link">Service Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Shop <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="shop.html" class="nav-link">Shop</a>
                                </li>
                                <li class="nav-item">
                                    <a href="cart.html" class="nav-link">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a href="checkout.html" class="nav-link">Checkout</a>
                                </li>
                                <li class="nav-item">
                                    <a href="wishlist.html" class="nav-link">Wishlist</a>
                                </li>
                                <li class="nav-item">
                                    <a href="shop-details.html" class="nav-link">Shop Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">Blog <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-details.html" class="nav-link">Blog Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="side-nav">
                        <div class="social">
                            <ul>
                                <li class="mr-2">
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li class="ml-2">
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-google-plus'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="side-menu">
                            <button type="button" class="btn modal-btn" data-toggle="modal"
                                data-target="#myModalRight">
                                <i class='bx bx-menu'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<app-modal-aboutUs></app-modal-aboutUs>