	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/02/2021 13:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-eye:before { content: "\f100"; }
.flaticon-botox:before { content: "\f101"; }
.flaticon-witness:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-clock:before { content: "\f105"; }
.flaticon-lasik:before { content: "\f106"; }
.flaticon-laser-surgery:before { content: "\f107"; }
.flaticon-eye-1:before { content: "\f108"; }
.flaticon-doctor:before { content: "\f109"; }
.flaticon-laser:before { content: "\f10a"; }
.flaticon-smart-lens:before { content: "\f10b"; }
.flaticon-straight-quotes:before { content: "\f10c"; }
.flaticon-trophy:before { content: "\f10d"; }
.flaticon-satisfied:before { content: "\f10e"; }
.flaticon-heartbeat:before { content: "\f10f"; }
.flaticon-heart:before { content: "\f110"; }
.flaticon-view:before { content: "\f111"; }
.flaticon-shopping-cart:before { content: "\f112"; }
.flaticon-premium:before { content: "\f113"; }
.flaticon-professional:before { content: "\f114"; }
.flaticon-enterprise:before { content: "\f115"; }
.flaticon-certificate:before { content: "\f116"; }
.flaticon-certificate-1:before { content: "\f117"; }
.flaticon-certificate-2:before { content: "\f118"; }
.flaticon-quality:before { content: "\f119"; }