<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'languages.update':'languages.add') | translate : {name : fm.value.name}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6  pr-md-0">
                        <div class="form-group">
                            <label>{{ 'lblName' | translate }}</label>
                            <input type="text" class="form-control" name="name" formControlName="name"
                                placeholder="{{ 'languages.name' | translate }}" required>
                            <small style="color:red"
                                *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                        </div>

                        <div class="form-group mt-3">
                            <label>{{ 'lblCode' | translate }}</label>
                            <input type="text" class="form-control" name="code" formControlName="code"
                                placeholder="{{ 'languages.code' | translate }}" required>
                            <small style="color:red"
                                *ngIf="fm.get('code').invalid && fm.get('code').touched">{{'message.required'|translate}}</small>
                        </div>

                        <div >
                            <span>
                                {{ 'languages.linkDocument' | translate }}
                            </span>
                            <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank">
                                Link
                            </a>
                            <ul>
                                <li>
                                    <span>{{ 'languages.name' | translate }}: Cột </span>
                                    <span class="font-weight-bold">ISO language name</span>
                                </li>
                                <li>
                                    <span>{{ 'languages.code' | translate }}: Cột </span>
                                    <span class="font-weight-bold">639-1</span>
                                </li>
                            </ul>
                        </div>

                        <!-- <div class="form-group">
                            <label>{{ 'lblLink' | translate }}</label>
                            <input *ngIf="fm.value.type != 1 " type="text" (keyup)="link._keyup($event)"
                                [(ngModel)]="fm.value.link" class="form-control" name="link" formControlName="link"
                                placeholder="{{ 'lblLink' | translate }}">
                            <input *ngIf="fm.value.type == 1 " type="text" class="form-control" name="link"
                                formControlName="link" placeholder="{{ 'lblLink' | translate }}">
                            <small style="color:red"
                                *ngIf="fm.get('link').invalid && fm.get('link').touched">{{'message.required'|translate}}</small>
                        </div> -->

                        <!-- <div class="form-group">
                            <label>{{ 'lblTitle' | translate }}</label>
                            <input type="text" class="form-control" name="title" formControlName="title"
                                placeholder="{{ 'lblTitle' | translate }}">
                        </div> -->

                        <!-- <div class="row">
                            <div class="col-8 pr-md-0">
                                <div class="form-group">
                                    <label>{{ 'lblparent_name' | translate }}</label>
                                    <div>
                                        <select formControlName="parent_id" class="form-control selectpicker">
                                            <option selected [value]="0">Chọn trang cha</option>
                                            <option *ngFor="let language of listLanguages" [value]="language.id">
                                                {{language.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>{{ 'lblOrders' | translate }}</label>
                                    <input type="number" min="0" class="form-control" name="order"
                                        formControlName="orders" placeholder="{{ 'lblOrders' | translate }}">
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group mb-1 text-center">
                            <label class="mb-1 ml-1">{{ 'languages.icon' | translate }}</label>
                            <div class="imagesThumb" *ngIf="icon" style="height: 110px;">
                                <div *ngFor="let item of icon.data ; let i = index">
                                    <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                    <span (click)="icon._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                        class="change">
                                        <i class="far fa-image"></i>
                                    </span>
                                    <span (click)="icon._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span (click)="icon._push($event)" *ngIf="item.type==2" class="add">
                                        <i class="fas fa-plus-circle"></i>
                                    </span>
                                </div>
                                <input type="file" (change)="icon._onchange($event)" [accept]="icon.typeAcceptImages">
                            </div>
                            <span class="small">{{ 'languages.size' | translate }}</span>
                        </div>
                        <!-- <div class="form-group ml-1 pt-3">
                            <label for="exampleFormControlTextarea1">{{'lblDescription' | translate}}</label>
                            <textarea formControlName="description" class="form-control"
                                id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div> -->

                    </div>

                    <!-- <div class="col-12">
                        <div class="form-group">
                            <label>{{'lblKeyword' | translate}}</label>
                            <input type="text" class="form-control" (keyup)="tags._keyup($event)">
                            <div class="keywords mt-3">
                                <button type="button" class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{item}}
                                    <i class="fas fa-times text-danger" (click)="tags._remove(item)"></i>
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>

            <button type="button" (click)="onSubmit()" class="btn btn-success float-right">
                {{'btn.save' | translate }}
            </button>

            <button type="button" [routerLink]="['/admin/setting/languages/get-list']"
                class="btn btn-primary float-right mr-2">
                {{ 'btn.back' | translate }}
            </button>
        </div>
    </div>
</form>