@import 'src/style/mixins';

.nav {
  &__item {
    &-1 {
      // padding: $itemNav;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__item-1:hover &-sub {
    visibility: visible;
    opacity: 1;
  }
  &__item-2:not(:last-child) &__link-2 {
    margin-bottom: 0.75rem;
  }
  &__item-1:hover &__link-1 {
    // color: $primaryColor;
    &::after {
      width: 100%;
    }
  }
  &__item-2:hover &__link-2 {
    transform: translateX(1rem);
  }
  &__item-2:hover &__link-2::after {
    opacity: 1;
  }
  &__link {
    &-1 {
      // padding: #{$itemNav / 2} 0;
      font-size: 1.5rem;
      text-transform: uppercase;
      &::after {
        // @include position(0, 1px, unquote(''), unquote(''), 0, 0, unquote(''));
        // background-color: $primaryColor;
        transition: 0.25s;
      }
    }
    &-2 {
      display: inline-block;
      text-transform: capitalize;
      color: #000 !important;
      &::after {
        content: '';
        position: absolute;
        left: -2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1px;
        // background-color: $primaryColor;
        opacity: 0;
        transition: 0.2s;
        transform: translateZ(0);
      }
    }
  }
  &-sub {
    padding: 1.25rem 2.75rem;
    position: absolute;
    top: 5.5rem;
    left: 1.5rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

    border: 1px solid rgba(34, 36, 38, 0.15);
    // box-shadow: $primaryShadow;
  }
}
