<ul class="nav">
	<ng-template #recursive let-menu>
		<li class="position-relative" *ngFor="let item of menu; index as i" [ngClass]="'nav__item-' + item.level">
			<a [routerLink]="['/' + item.link]" routerLinkActive="is--active" [ngClass]="'nav__link-' + item.level"
				class="text-decoration-none text-nowrap position-relative" style="color: #000">
				<span>{{ item.level == 2 ? item.name.toLowerCase() : item.name }}</span>
			</a>
			<div class="nav-sub bg-white" *ngIf="item.data && item.data.length > 0">
				<ng-container *ngTemplateOutlet="recursive; context: { $implicit: item.data }">
				</ng-container>
			</div>
		</li>
	</ng-template>
	<ng-container *ngTemplateOutlet="recursive; context: { $implicit: menu }">
	</ng-container>
</ul>