<div class="card">
    <div class="card-header" style="cursor: pointer;">
        <strong>{{'student.title' | translate }}</strong>
        <div class="float-md-right d-flex">
            <!-- <button class="btn btn-sm btn-success text-nowrap mr-4" type="button" >
                Export to Excel
            </button> -->
            <button class="btn btn-sm btn-success text-nowrap mr-4" type="button" (click)="handleImportClick()">
                <i class="far fa-plus"></i>
                {{ 'excel.add' | translate }}
            </button>
            <div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'excel.export' | translate }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button (click)="handleExportStudentInfo()" class="dropdown-item">
                        {{ 'excel.studentInfo' | translate }}
                    </button>
                    <button (click)="handleExportSampleForm()" class="dropdown-item">
                        {{ 'excel.sampleForm' | translate }}
                    </button>
                </div>
            </div>
            <div class="input-group input-group-sm ml-4">
                <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value" class="form-control"
                    [placeholder]="'search.lblList'|translate">
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover" id="excel-table">
            <thead>
                <tr>
                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="cstable.sorting.field==col.field" class="fa ml-1"
                                [ngClass]="{ 'fa-long-arrow-down' : cstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cstable.data ;let i= index"
                    [ngClass]="{'status-off': item.status && item.status==0 , 'bg-student':item.checked ==0}">
                    <td *ngFor="let col of cstable.cols" [ngClass]="{ 'd-none' : col.show==false}">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">
                                {{ i + 1 }}
                            </span>
                            <span *ngSwitchCase="'status'"
                                [ngClass]="item[col.field]  == 1 ? 'text-success' : 'text-danger'">
                                {{ (item[col.field] == 1 ? 'status.active' : 'status.disabled') | translate }}
                            </span>
                            <span *ngSwitchCase="'action'" class="display-action">
                                <button class="btn btn-link btn-sm " [routerLink]="['../update/'+item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm text-info"
                                    [routerLink]="['../changespassword/'+ item.id]">
                                    <i class="fas fa-key"></i>
                                </button>
                                <button class="btn btn-link btn-sm text-danger" (click)="onRemove(item.id , item.name)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}</span>
            <span>
                <a (click)="cstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="cstable._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>

    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']" class="text-white " style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>