<app-box-breadcrumb></app-box-breadcrumb>

<div class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-item">
                    <i class='bx bx-phone-call'></i>
                    <h3>Phone Number</h3>
                    <a href="tel:+8256569887">+8256-569-887</a>
                    <a href="tel:+8256569888">+8256-569-888</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-item">
                    <i class='bx bx-mail-send'></i>
                    <h3>Email Address</h3>
                    <a
                        href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#3159545d5d5e715e415f58491f525e5c"><span
                            class="__cf_email__"
                            data-cfemail="3b535e5757547b544b55524315585456">[email&#160;protected]</span></a>
                    <a
                        href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#533a3d353c133c233d3a2b7d303c3e"><span
                            class="__cf_email__"
                            data-cfemail="5a33343c351a352a34332274393537">[email&#160;protected]</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-item">
                    <i class='bx bx-location-plus'></i>
                    <h3>Location</h3>
                    <a href="https://www.google.com/maps/place/Asia/@23.7282045,62.1750717,3z/data=!3m1!4b1!4m5!3m4!1s0x3663f18a24cbe857:0xa9416bfcd3a0f459!8m2!3d34.047863!4d100.6196553"
                        target="_blank">950 St Johns Pl Brooklyn, NY,<br> United States</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="map-item">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59843174.53779285!2d62.17507173408571!3d23.728204508550363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3663f18a24cbe857%3A0xa9416bfcd3a0f459!2sAsia!5e0!3m2!1sen!2sbd!4v1614232119109!5m2!1sen!2sbd"
                        allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <form id="contactForm">
                    <h3>Contact With Us!</h3>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name"
                                    required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                                    required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" id="phone_number" placeholder="Phone" required
                                    data-error="Please enter your number" class="form-control">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-group">
                                <input type="text" name="msg_subject" id="msg_subject" class="form-control"
                                    placeholder="Subject" required data-error="Please enter your subject">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="8"
                                    placeholder="Write message" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                    <label class="form-check-label" for="flexCheckDefault1">
                                        I accept all <a href="terms-conditions.html">Terms & Conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="text-center">
                                <button type="submit" class="btn common-btn">
                                    <span class="one"></span>
                                    <span class="two"></span>
                                    Send Message
                                </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>