<div class="banner-area">
    <div class="banner-item banner-bg-one">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="banner-content">
                        <span class="title">Critical Care Center</span>
                        <h1>Eye Care Specialist Services That You Can Trust</h1>
                        <a class="common-btn" href="about.html">
                            <span class="one"></span>
                            <span class="two"></span>
                            More About Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>