
<app-home-slider></app-home-slider>

<app-home-aboutUs></app-home-aboutUs>

<app-home-services></app-home-services>

<div class="consultation-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title">
                    <h2>Are You Looking For Eye Care Consultation?</h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="consultation-content">
                    <ul>
                        <li>
                            <a class="common-btn" href="appointment.html">
                                <span class="one"></span>
                                <span class="two"></span>
                                Book Appointment
                            </a>
                        </li>
                        <li>
                            <h3>
                                <a href="tel:+0896312478">+0896312478</a>
                            </h3>
                            <span>For Emergency Services</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="doctors-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <div class="top">
                <span class="top-title">Doctors</span>
                <span class="sub-title">Doctors</span>
            </div>
            <h2>Opnix Eye Care Specialist</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main1.png" alt="Doctor">
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Jolian Acenj</a>
                            </h3>
                            <span>Surgery Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main2.png" alt="Doctor">
                        <ul class="social-two">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button-two'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Arnica Sarah</a>
                            </h3>
                            <span>Surgery Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main3.png" alt="Doctor">
                        <ul class="social-three">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button-three'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Jolian Acenj</a>
                            </h3>
                            <span>Lasik Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main4.png" alt="Doctor">
                        <ul class="social-four">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button-four'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Triben Dina</a>
                            </h3>
                            <span>Lasik Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main5.png" alt="Doctor">
                        <ul class="social-five">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button-five'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Alena Malic</a>
                            </h3>
                            <span>Contact Lens Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="doctors-item">
                    <div class="top">
                        <img src="assets/images/doctors/main6.png" alt="Doctor">
                        <ul class="social-six">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <i class='bx bxs-share-alt button-six'></i>
                        </div>
                        <div class="right">
                            <h3>
                                <a href="doctor-details.html">Dr. Malina Angel</a>
                            </h3>
                            <span>Lasik Specialist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="choose-area pt-100 pb-70">
    <div class="choose-shape">
        <img src="assets/images/choose-shape1.png" alt="Shape">
        <img src="assets/images/choose-shape2.png" alt="Shape">
        <img src="assets/images/choose-shape3.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-img">
                    <img src="assets/images/choose-main1.jpg" alt="Choose">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-content">
                    <div class="section-title">
                        <div class="top">
                            <span class="top-title">Choose Us</span>
                            <span class="sub-title">Why Choose Us</span>
                        </div>
                        <h2>We Always Provide The Best Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="flaticon-doctor"></i>
                                    <h3>Qualified Doctors</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit</p>
                                </li>
                                <li>
                                    <i class="flaticon-view"></i>
                                    <h3>Eye Examination</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>
                                    <i class="flaticon-laser-surgery"></i>
                                    <h3>Laser Eye Correction</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit</p>
                                </li>
                                <li>
                                    <i class="flaticon-eye-1"></i>
                                    <h3>Contact Lenses</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-home-news></app-home-news>

<app-home-sayAboutUs></app-home-sayAboutUs>

<div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slider owl-theme owl-carousel">
            <div class="partner-item">
                <img src="assets/images/partner/1.png" alt="Partner">
            </div>
            <div class="partner-item">
                <img src="assets/images/partner/2.png" alt="Partner">
            </div>
            <div class="partner-item">
                <img src="assets/images/partner/3.png" alt="Partner">
            </div>
            <div class="partner-item">
                <img src="assets/images/partner/4.png" alt="Partner">
            </div>
            <div class="partner-item">
                <img src="assets/images/partner/5.png" alt="Partner">
            </div>
        </div>
    </div>
</div>


<!-- Slide -->
<!-- <section class="slide-container position-relative">
    <owl-carousel-o [options]="slide.options">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a [href]="item.link" target="_blank" rel="noopener noreferrer" class="d-block">
                    <img width="100%" height="100%" [lazyLoad]="item.images" [defaultImage]="slide.lazy_bg"
                        [alt]="item.name" />
                    <div class="container-main d-flex align-items-center w-100 h-100" *ngIf="viewport.desktop">
                        <div class="slide p-5 w-100" *ngIf="item.position && item.position >= 0 && item.position <= 3"
                            [ngClass]="item.position == 0 || item.position == 1 ? 'text-left slide--left'
                  : item.position == 2 ? 'text-center' : 'text-right slide--right'">
                            <h2 class="slide__title d-inline-block font-weight-bold px-4 py-2"
                                [ngStyle]="{'background-color': item.background ? item.background : 'transparent', color: item.color ? item.color : '#fefefe' }">
                                {{ item.title }}
                            </h2>
                            <br />
                            <p class="slide__desc d-inline-block px-4 py-2" [ngStyle]="{'background-color': item.background? item.background: 'transparent',
                  color: item.color ? item.color : '#fefefe'}">
                                {{ item.description }}
                            </p>
                            <br />
                            <a [href]="item.link" target="_blank"
                                class="slide__btn text-decoration-none text-uppercase font-weight-bold px-4 py-3"
                                [ngStyle]="{'background-color': item.background ? item.background: 'transparent', color: item.color ? item.color : '#fefefe'}">
                                <span>{{ 'lblViewMore' | translate }}</span>
                                <i class="far fa-angle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section> -->

<!-- Product -->
<section class="product" *ngIf="product.hot?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="heading__title" [innerHTML]="'heading_product_home' | translate | sanitizeHtml"></div>
            <div class="heading__desc" [innerHTML]="'description_product_home' | translate | sanitizeHtml"></div>
            <div class="product-list">
                <div class="row scroll-sm">
                    <div class="col-8 col-md-3" *ngFor="let items of product.hot | slice: 0:8">
                        <article *ngFor="let item of items; first as first" [ngClass]="{'mb-4': first}">
                            <app-box-product [input]="item"></app-box-product>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="about" *ngIf="about.data.title?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="position-relative">
                        <img class="w-100 about__img" width="585" [lazyLoad]="about.data.images"
                            [defaultImage]="defaultImage" [alt]="about.data.title" />
                        <a *ngIf="about.data.link_video?.length" class="about__video text-decoration-none"
                            [href]="about.data.link_video" data-fancybox>
                            <div class="about-video d-inline-flex">
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="about__subtitle color pl-3">
                        {{ about.data.name }}
                    </p>
                    <h1 class="about__title font-weight-bold mt-4">
                        {{ about.data.title }}
                    </h1>
                    <p class="about__desc mt-4">
                        {{ about.data.description }}
                    </p>
                    <a [routerLink]="['/' + about.data.link]"
                        class="about__btn btn bg-transparent color text-capitalize mt-4 px-5 py-2">
                        {{ 'FEbtn.more' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<section class="banner" *ngIf="banner.data?.length">
    <div class="container-main">
        <div class="container-fluid">
            <h3 class="heading__title" translate>FEBanner.title</h3>
            <!-- <p class="heading__desc" translate>FEBanner.desc</p> -->
            <div class="banner-list">
                <owl-carousel-o [options]="banner.options">
                    <ng-container *ngFor="let item of banner.data">
                        <ng-template carouselSlide>
                            <a [href]="item.link" target="_blank" rel="noopener noreferrer"
                                class="d-inline-block text-decoration-none">
                                <figure>
                                    <img width="100%" height="100%" [src]="item.images" [alt]="item.name" />
                                </figure>
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- News -->
<section class="news bg-light" *ngIf="news.data.list?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="heading__title" [innerHTML]="'heading_news_home' | translate | sanitizeHtml"></div>
            <div class="heading__desc" [innerHTML]="'description_news_home' | translate | sanitizeHtml"></div>
            <div class="news-list">
                <owl-carousel-o [options]="news.options">
                    <ng-container *ngFor="let item of news.data.list">
                        <ng-template carouselSlide>
                            <app-box-content [input]="item"></app-box-content>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- Partners -->
<section class="partner" *ngIf="partner.list?.length">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partner.options">
                <ng-container *ngFor="let item of partner.list">
                    <ng-template carouselSlide>
                        <a class="d-inline-block" [href]="item.link" target="_blank">
                            <img class="partner__img" [src]="item.logo" [alt]="item.company" width="100%"
                                height="100%" />
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>