<form [formGroup]="fm" *ngIf="fm" (submit)="$event.stopPropagation()">
    <div class="card w-100">
        <div class="card-header">
            <strong>
                {{ ((id && id != 0) ? 'student.update':'student.add') | translate : {name : fm.value.name} }}
            </strong>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group text-center">
                        <label for="avatar">{{ 'user.avatar' | translate }}</label>
                        <div *ngIf="avatar" class="imagesThumb">
                            <div *ngFor="let item of avatar.data; let i = index" class="rounded-circle">
                                <img *ngIf="item.type == 0 || item.type == 1" [src]="item.src" />
                                <span *ngIf="item.type == 0 || item.type == 1" (click)="avatar._change($event, item)"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span *ngIf="item.type == 0 || item.type == 1" (click)="avatar._del(i)" class="del">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="item.type == 2" (click)="avatar._push($event)" class="add">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                            <input type="file" (change)="avatar._onchange($event)" id="avatar">
                        </div>
                    </div>
                    <div class="form-group text-center mt-4">
                        <label translate>sex.title</label>
                        <br />
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="male" name="sex" class="custom-control-input" formControlName="sex"
                                value="1">
                            <label class="custom-control-label cursor-pointer" for="male">
                                {{'user.male' | translate }}</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="female" name="sex" class="custom-control-input"
                                formControlName="sex" value="0">
                            <label class="custom-control-label cursor-pointer" for="female">
                                {{'user.female' | translate }}</label>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-12">
                            <div class="form-group d-flex justify-content-around">
                                <div *ngFor="let type of typesIdNo" class="custom-control custom-radio">
                                    <input id="type_idno-{{type.id}}" [value]="type.id" type="radio" name="type_idno"
                                        formControlName="type_idno" class="custom-control-input"
                                        [(ngModel)]="placeholderIdNo" required />
                                    <label for="type_idno-{{type.id}}" class="custom-control-label cursor-pointer ml-2">
                                        {{ type.value | translate }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input formControlName="idno" name="idno" id="idno" type="text"
                                    class="form-control mt-2"
                                    [placeholder]="((placeholderIdNo === typesIdNo[0].id ? typesIdNo[0].value : (placeholderIdNo === 2 ? typesIdNo[1].value : typesIdNo[2].value)) | translate) + ' *'"
                                    required autocomplete="off" />
                                <small *ngIf="!fm.get('idno').valid && fm.get('idno').touched" class="text-danger">
                                    {{ 'message.required' | translate }}
                                </small>
                            </div>

                            <div class="form-group mt-3">
                                <label for="idno_date">
                                    {{ 'student.idno_date' | translate }}
                                    {{ (placeholderIdNo === typesIdNo[0].id ? typesIdNo[0].value : (placeholderIdNo
                                    === 2 ?
                                    typesIdNo[1].value : typesIdNo[2].value)) | translate }}
                                </label>
                                <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    name="idno_date" class="form-control" id="idno_date" formControlName="idno_date"
                                    bsDatepicker autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="idno_place">
                                    {{ 'student.idno_place' | translate }}
                                    {{ (placeholderIdNo === typesIdNo[0].id ? typesIdNo[0].value : (placeholderIdNo
                                    === 2 ?
                                    typesIdNo[1].value : typesIdNo[2].value)) | translate }}
                                </label>
                                <input class="form-control" name="idno_place" type="text" formControlName="idno_place"
                                    id="idno_place" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="code">{{ 'student.code' | translate }}</label>
                        <span class="text-danger ml-1">*</span>
                        <input formControlName="code" name="code" type="text" id="code" class="form-control" required
                            minlength="8" readonly />
                        <small *ngIf="!fm.get('code').valid" class="text-danger">
                            {{ 'message.required' | translate }}
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="name">{{ 'student.fullName' | translate }}</label>
                        <span class="text-danger ml-1">*</span>
                        <input class="form-control" name="name" type="text" formControlName="name" autocomplete="off"
                            required />
                        <small class="text-danger" *ngIf="!fm.get('name').valid && fm.get('name').touched"
                            translate>message.required</small>
                    </div>

                    <div class="form-group">
                        <label for="birth_date">{{ 'user.birth_date' | translate }}</label>
                        <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                            name="birth_date" class="form-control" id="birth_date" formControlName="birth_date"
                            bsDatepicker autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="address" translate>user.address</label>
                        <input class="form-control" name="address" type="text" formControlName="address"
                            autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="phone">{{ 'lblPhone' | translate }}
                        </label>
                        <input type="tel" class="form-control" name="phone" formControlName="phone" id="phone"
                            autocomplete="off" minlength="10" maxlength="11">
                    </div>
                    <div class="form-group">
                        <label for="email" translate>lblEmail</label>
                        <input formControlName="email" name="email" type="email" class="form-control"
                            autocomplete="off" />
                    </div>
                    <div class="form-group" *ngIf="!id">
                        <label for="password" translate>user.password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="password" formControlName="password"
                            autocomplete="off" minlength="8" required [placeholder]="'user.password' | translate">
                        <small *ngIf="!fm.get('password').valid && fm.get('password').touched" style="color:red">
                            {{'message.minLength' | translate : { num: 8 } }}
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="facebook">{{ 'student.facebook' | translate }}</label>
                        <input formControlName="facebook" name="facebook" id="facebook" type="text" class="form-control"
                            autocomplete="off">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="nation">{{ 'student.nation' | translate }}</label>
                        <input formControlName="nation" name="nation" id="nation" type="text" class="form-control"
                            autocomplete="off">
                    </div>
                    <div>
                        Thuộc diện
                        <div class="form-group mt-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="is_poors" name="is_poor" class="custom-control-input"
                                    formControlName="is_poor" value="1">
                                <label class="custom-control-label cursor-pointer" for="is_poors">
                                    {{'student.is_poors' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline ml-3">
                                <input type="radio" id="is_poor" name="is_poor" class="custom-control-input"
                                    formControlName="is_poor" value="0">
                                <label class="custom-control-label cursor-pointer" for="is_poor">
                                    {{'student.is_poor' | translate }}</label>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox mt-4">
                            <input type="checkbox" class="custom-control-input" id="is_revolution"
                                [checked]="+fm.value.is_revolution" value="is_revolution"
                                formControlName="is_revolution"
                                (change)="$event.target.checked ? (fm.value.is_revolution = 1) : (fm.value.is_revolution = 0)">
                            <label class="custom-control-label cursor-pointer" for="is_revolution">
                                {{ 'student.is_revolution' | translate }}
                            </label>
                        </div>

                    </div>
                    <div class="form-group mt-5 ">
                        <label for="object_name">{{ 'student.object_name' | translate }}</label>
                        <input formControlName="object_name" name="object_name" id="object_name" type="text"
                            class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group pt-1">
                        <label for="code_company" translate>student.code_company</label>
                        <input formControlName="code_company" name="code_company" type="text" class="form-control"
                            autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="academic_level" translate> student.academic_level </label>
                        <input formControlName="academic_level" name="academic_level" type="text" class="form-control"
                            autocomplete="off" />
                    </div>

                    <div class="form-group mt-4">
                        <div class="custom-control custom-checkbox mt-4">
                            <input type="checkbox" class="custom-control-input" id="is_certification"
                                [checked]="+fm.value.is_certification" value="is_certification"
                                formControlName="is_certification"
                                (change)="$event.target.checked ? (fm.value.is_certification = 1) : (fm.value.is_certification = 0)">
                            <label class="custom-control-label cursor-pointer" for="is_certification">
                                {{ 'student.is_certification' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox mt-4">
                            <input type="checkbox" class="custom-control-input" id="is_register_form"
                                [checked]="+fm.value.is_register_form" value="is_register_form"
                                formControlName="is_register_form"
                                (change)="$event.target.checked ? (fm.value.is_register_form = 1) : (fm.value.is_register_form = 0)">
                            <label class="custom-control-label cursor-pointer" for="is_register_form">
                                {{ 'student.is_register_form' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="height">{{ 'student.height' | translate }}</label>
                            <input formControlName="height" name="height" id="height" type="number" class="form-control"
                                autocomplete="off">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="weight">{{ 'student.weight' | translate }}</label>
                            <input formControlName="weight" name="weight" id="weight" type="number" class="form-control"
                                autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">
                {{'btn.save' | translate}}
            </button>
            <button type="button" [routerLink]="[(id && id != 0) ? '../../get-list' : '../get-list']"
                class="btn btn-primary float-right mr-2">{{'btn.back'| translate }}</button>
        </div>
    </div>
</form>