<!-- Register Course -->
<!-- <section class="register_course bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <span class="register_course__heading">
                        {{ 'lblRegisterCourse' | translate }}
                    </span>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <button class="btn register_course__btn bg-transparent color px-5 py-2 mt-2 mt-lg-0"
                        (click)="enableFormRegisterCourse(4)">
                        {{ 'FEbtn.register_now' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer-top">
        <div class="container-main">
            <div class="container-fluid">
                <div class="footer-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="footer-body__heading mb-3 text-uppercase text-white">
                                {{ 'FEFooter.contact' | translate }}
                            </div>

                            <div *ngIf="'info_company_footer' | translate"
                                [innerHTML]="'info_company_footer' | translate | sanitizeHtml"></div>

                            <div class="footer-body__item"
                                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                                {{ 'lblPhone' | translate }}:
                                <a href="tel:+{{ 'FEPhone' | translate }}">
                                    {{ 'FEPhone' | translate }}
                                </a>
                            </div>

                            <div class="footer-body__item" *ngIf="('FEMail' | translate) != 'FEMail'">
                                {{ 'lblEmail' | translate }}:
                                <a href="mailto:{{ 'FEMail' | translate }}">
                                    {{ 'FEMail' | translate }}
                                </a>
                            </div>

                            <div class="social mt-3">
                                <a target="_blank" rel="noopener noreferrer" [href]="'FEHrefFacebook' | translate"
                                    *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'"
                                    class="social-link rounded-circle mr-2">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" [href]="'FEHrefInstagram' | translate"
                                    *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram'"
                                    class="social-link rounded-circle mx-2">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" rel="noopener noreferrer" [href]="'FEHrefYoutube' | translate"
                                    *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube'"
                                    class="social-link rounded-circle ml-2">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mt-4 mt-md-0" *ngIf="policy.data && policy.data.length > 0">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="footer-body-title h3 mb-0 text-uppercase text-white">
                                    {{ 'FEFooter.support' | translate }}
                                </div>
                                <div class="d-block d-md-none">
                                    <i class="fas fa-chevron-down text-white cursor-pointer"
                                        (click)="policy.show = !policy.show"></i>
                                </div>
                            </div>
                            <div [ngClass]="{ 'd-none d-md-block': !policy.show }">
                                <ul class="list-unstyled p-0 mb-0">
                                    <li class="mb-md-1 d-inline-block w-50" *ngFor="let item of policy.data">
                                        <a class="footer-body-item" [routerLink]="['/' + item.link]">{{ item.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="office">
                    <div class="row">
                        <div class="col-12 col-md-4" [innerHTML]="'office_1' | translate | sanitizeHtml"></div>
                        <div class="col-12 col-md-4" [innerHTML]="'office_2' | translate | sanitizeHtml"></div>
                        <div class="col-12 col-md-4" [innerHTML]="'office_3' | translate | sanitizeHtml"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom py-2">
        <div class="container-main">
            <div class="container-fluid">
                <div class="
            row
            justify-content-center justify-content-md-between
            align-items-center
          ">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <p class="text-white-50 small mb-0">
                            <span>{{ 'copyright' | translate }}</span>
                            <a class="text-white-50 text-decoration-none" href="https://chips.vn" target="_blank"
                                rel="noopener noreferrer">Chips</a>
                        </p>
                    </div>
                    <div class="col-12 col-md-3 col-lg-4" *ngIf="payment.data && payment.data.length > 0">
                        <div class="align-items-center d-flex" [ngClass]="
                payment.data.length > 1
                  ? 'justify-content-between'
                  : 'justify-content-end'
              ">
                            <a *ngIf="payment.DMCA.link && payment.DMCA.link !== ''"
                                href="//www.dmca.com/Protection/Status.aspx?ID=795abd96-7a1e-4098-8bd5-e831a6deaf02"
                                target="_blank" title="DMCA.com Protection Status" class="dmca-badge">
                                <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=795abd96-7a1e-4098-8bd5-e831a6deaf02"
                                    alt="DMCA.com Protection Status" width="121" height="24" />
                                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                            </a>

                            <a *ngIf="payment.MOIT.link && payment.MOIT.link !== ''" [href]="payment.MOIT.link"
                                target="_blank" class="d-inline-block">
                                <img width="150" height="57" [src]="payment.MOIT.images" [alt]="payment.MOIT.name"
                                    [title]="payment.MOIT.name" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 text-white-50 text-center py-2 d-md-none">
                        <span> {{ 'copyright' | translate }}</span>
                        <a class="text-white-50" style="text-decoration: none" href="https://chips.vn" target="_blank"
                            rel="noopener noreferrer">Chips</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->

<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Contact</h3>
                        <ul>
                            <li>
                                <span>Phone</span>
                                <a href="tel:882569756">882-569-756</a>
                            </li>
                            <li>
                                <span>Email</span>
                                <a
                                    href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#ee868b828281ae819e808796c08d8183"><span
                                        class="__cf_email__"
                                        data-cfemail="d3bbb6bfbfbc93bca3bdbaabfdb0bcbe">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <span>Address</span>
                                <a href="https://www.google.com/maps">123,westeen Road, Melbourne Australia</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>About</h3>
                        <ul>
                            <li>
                                <a href="doctors.html">Doctors</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="services.html">Services</a>
                            </li>
                            <li>
                                <a href="doctors.html">Departments</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Explore</h3>
                        <ul>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="appointment.html">Appointment</a>
                            </li>
                            <li>
                                <a href="shop.html">Shop</a>
                            </li>
                            <li>
                                <a href="doctor-details.html">Portfolio</a>
                            </li>
                            <li>
                                <a href="contact.html">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-links">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <a href="contact.html">Online Support</a>
                            </li>
                            <li>
                                <a href="contact.html">Free Consultancy</a>
                            </li>
                            <li>
                                <a href="contact.html">24/7 Service</a>
                            </li>
                            <li>
                                <a href="tel:123456789">Make Call</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-hours">
                        <h3>Opening Hours</h3>
                        <ul>
                            <li>
                                Sun:
                                <span>09:00 AM - 09:00 PM</span>
                            </li>
                            <li>
                                Mon:
                                <span>09:00 AM - 09:00 PM</span>
                            </li>
                            <li>
                                Tue:
                                <span>09:00 AM - 09:00 PM</span>
                            </li>
                            <li>
                                Wed:
                                <span>09:00 AM - 09:00 PM</span>
                            </li>
                            <li>
                                Thu:
                                <span>09:00 AM - 09:00 PM</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p>Copyright ©2021 Opnix. Designed By <a href="https://chips.vn/" target="_blank">Chips</a>
                </p>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>
                        <a href="terms-conditions.html">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="privacy-policy.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>