// @import 'src/style/mixins';
// .contact {
//     &-btn {
//         width: calc(50% - 0.25rem);
//         border-style: dashed;

//         &:first-child {
//             border-color: var(--primaryColor);
//             color: var(--primaryColor);

//             &:hover {
//                 color: #fff;
//                 background-color: var(--primaryColor) !important;
//             }
//         }

//         &:last-child {
//             background-color: var(--primaryColor);

//             &:hover {
//                 border-color: var(--primaryColor);
//                 color: var(--primaryColor) !important;
//                 background-color: transparent;
//             }
//         }
//     }
// }
// .block {
//     display: block;
// }
// .footer {
//     color: #dcdce5;
//     a {
//         color: #dcdce5;
//     }
//     &-top {
//         background-color: #243c58;
//     }
//     &-bottom {
//         background-color: #010f27;
//     }
//     hr {
//         border-top-color: #4e6886;
//     }

//     &-body {
//         padding: 2rem 0;

//         &__heading {
//             font-size: 2rem;
//         }

//         &__item {
//             font-size: 1.4rem;
//         }

//         &-title {
//             font-size: 18px;
//             // @include viewport-sm {
//                 // font-size: 14px;
//             // }
//         }

//         &-item {
//             color: #ddd;
//             cursor: pointer;
//             font-size: 14px;
//             text-decoration: none;
//         }
//         .l22ist-unstyled li {
//             // @include viewport-sm {
//                 // width: 100% !important;
//             // }
//         }
//     }

//     &-end {
//         .menu a {
//             font-size: 12px;
//             padding: 0 10px;
//             color: #ddd;
//         }
//     }

//     .social-link {
//         color: #a2a2a2;
//         display: inline-block;
//         height: 3rem;
//         line-height: 3rem;
//         width: 3rem;
//         border: 1px solid;
//         border-radius: 3px;
//         text-align: center;
//         transition: all 0.3s;
//         font-size: 18px;
//     }

//     .social-link:hover {
//         transform: scale(1.1);
//         color: #ffffff;
//         border-color: #ffffff;
//     }
// }

// .register_course {
//     // padding: $inner / 3 0;

//     &__heading {
//         font-size: 2.5rem;
//     }

//     &__btn {
//         font-size: 1.5rem;
//         border: 2px solid #f0c117;
//         border-radius: 0.5rem;

//         &:hover {
//             color: #fff !important;
//             background-color: var(--primaryColor) !important;
//         }
//     }
// }
