@import 'src/style/mixins';

.box {
  border-radius: 10px;

  &:hover &__img::before {
    animation: shineBefore 1s;
  }

  &__img {
    width: 33%;
    height: 133px;
    border-radius: 10px;

    &::before {
      // @include position(33%, 100%, 0, unquote(''), unquote(''), -67%, unquote(''));
      // background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      transform: skewX(-25deg);
    }
  }

  &__title {
    height: 44px;
    line-height: 1.4;
    // color: $bgBreadcrumb;
    // @extend %text-truncate-2;
  }

  &-group {
    // color: $descColor;

    &__title {
      border-radius: 10px;
      font-size: 1rem;
    }
  }

  &__description {
    height: 4.2rem;
    // @extend %text-truncate-2;
    font-size: 1.4rem;
    // color: $descColor;
  }

  &-content {
    width: calc(100% - 33% - 1.5rem);
  }
}
