/*
@File: Opnix Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Home Demo One CSS
** - Home Demo Two CSS
** - Home Demo Three CSS
** - About Us CSS
** - Doctor Details CSS
** - Service Details CSS
** - Shop CSS
** - Blog Details CSS
** - Contact CSS
** - FAQ CSS
** - Error CSS
** - Rules CSS
** - Go Top CSS
** - Loader CSS
*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&amp;display=swap");
/*----- Default -----*/
body {
  font-family: "Jost", sans-serif;
  color: #35405c;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #02123a;
  font-family: "Roboto Slab", serif;
}

p {
  line-height: 1.7;
}

p:last-child {
  margin-bottom: 0;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.mtb-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

button:focus {
  outline: 0;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.common-btn {
  display: inline-block;
  color: #fff;
  background-color: #20bdd1;
  padding: 12px 25px;
  font-weight: 500;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1 !important;
  z-index: 1;
  position: relative;
}

.common-btn .one:before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.common-btn .one:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.common-btn .two:before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.common-btn .two:after {
  position: absolute;
  content: '';
  width: 2px;
  height: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.common-btn:hover {
  color: #fff;
  background-color: #02123a;
}

.common-btn:hover .one:before, .common-btn:hover .two:before {
  opacity: 1;
  visibility: visible;
  width: 15px;
}

.common-btn:hover .one:after, .common-btn:hover .two:after {
  opacity: 1;
  visibility: visible;
  height: 15px;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.section-title .top {
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
}

.section-title .top .top-title {
  font-size: 75px;
  line-height: 75px;
  color: #b6b5b5;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  display: block;
  opacity: .10;
}

.section-title .top .sub-title {
  display: block;
  font-weight: 600;
  color: #20bdd1;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  font-size: 20px;
}

.section-title h2 {
  font-size: 40px;
  margin-bottom: 0;
  line-height: 1.3;
}

.section-title p {
  margin-top: 10px;
  margin-bottom: 0;
}

/*----- Home Demo One -----*/
.header-area {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-area .left a {
  display: block;
}

.header-area .right {
  text-align: end;
}

.header-area .right ul {
  margin: 0;
  padding: 0;
}

.header-area .right ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding-left: 50px;
  text-align: start;
  vertical-align: middle;
  margin-right: 50px;
}

.header-area .right ul li:last-child {
  margin-right: 0;
}

.header-area .right ul li:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.header-area .right ul li i {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #20bdd1;
  background-color: #e0f8fc;
  border-radius: 5px;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.header-area .right ul li i.flaticon-placeholder:before {
  left: 2px;
  position: relative;
}

.header-area .right ul li h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.header-area .right ul li a {
  display: block;
  color: #35405c;
  font-size: 13px;
}

.header-area .right ul li a:hover {
  color: #20bdd1;
}

.header-area .right ul li span {
  display: block;
  font-size: 13px;
}

.main-nav {
  background-color: #20bdd1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav.menu-shrink {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav nav {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav nav .navbar-nav {
  margin-left: 0;
  margin-right: auto;
}

.main-nav nav .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.main-nav nav .navbar-nav .nav-item:hover a {
  color: #fff;
}

.main-nav nav .navbar-nav .nav-item a {
  font-weight: 600;
  text-transform: unset;
  color: #fff;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.main-nav nav .navbar-nav .nav-item a:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.main-nav nav .navbar-nav .nav-item a:hover, .main-nav nav .navbar-nav .nav-item a:focus, .main-nav nav .navbar-nav .nav-item a.active {
  color: #fff;
}

.main-nav nav .navbar-nav .nav-item a:hover:before, .main-nav nav .navbar-nav .nav-item a:focus:before, .main-nav nav .navbar-nav .nav-item a.active:before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.main-nav nav .navbar-nav .nav-item a i {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0;
  border: 0;
  padding: 0;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top: 3px solid #02123a;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #f1f1f1;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  top: -3px !important;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #20bdd1;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li:last-child {
  border-bottom: 0;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 15px;
  font-weight: 600;
  text-transform: unset;
  padding: 12px 15px;
  color: #02123a;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:before {
  display: none;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #20bdd1;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: -100%;
  left: unset;
  top: 15px;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #02123a;
  text-transform: unset;
}

.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #20bdd1;
}

.main-nav .dropdown-toggle::after {
  display: none;
}

.side-nav {
  vertical-align: middle;
}

.side-nav .cart {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  position: relative;
  top: 3px;
}

.side-nav .cart a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 30px;
}

.side-nav .cart a span {
  position: absolute;
  top: 5px;
  right: -4px;
  font-size: 13px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #02123a;
}

.side-nav .languages {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.side-nav .languages .nice-select {
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  border: 0;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.side-nav .languages .nice-select:after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.side-nav .languages .nice-select ul {
  border: 0;
  border-radius: 0;
  display: block;
  width: 100%;
}

.side-nav .languages .nice-select ul li {
  display: block;
  width: 100%;
  color: #02123a;
  font-size: 15px;
}

.side-nav .social {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.side-nav .social ul {
  margin: 0;
  padding: 0;
}

.side-nav .social ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
}

.side-nav .social ul li:last-child {
  margin-right: 0;
}

.side-nav .social ul li a {
  display: block;
  color: #fff;
  font-size: 17px;
}

.side-nav .side-menu {
  vertical-align: middle;
  display: inline-block;
}

.side-nav .side-menu .modal-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  color: #20bdd1;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.side-nav .side-menu .modal-btn i {
  line-height: 30px;
}

.side-nav .side-menu .modal-btn:hover {
  color: #fff;
  background-color: #02123a;
}

#myModalRight {
  z-index: 99999;
  padding-right: 0 !important;
}

#myModalRight .modal-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-body h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.modal .modal-body p {
  margin-bottom: 30px;
}

.modal .modal-body .image-area h2 {
  margin-bottom: 15px;
}

.modal .modal-body .image-area a {
  display: block;
  background-color: #ecf7f9;
  margin-bottom: 20px;
  border-radius: 5px;
}

.modal .modal-body .image-area a:hover {
  background-color: #20bdd1;
}

.modal .modal-body .social-area ul {
  margin: 0;
  padding: 0;
}

.modal .modal-body .social-area ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.modal .modal-body .social-area ul li a {
  display: block;
  color: #20bdd1;
  font-size: 20px;
}

.modal .modal-body .social-area ul li a:hover {
  color: #02123a;
}

.modal.modal-right .modal-dialog {
  max-width: 380px;
  min-height: 100vh;
}

.modal.modal-right.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal.modal-right .modal-content {
  height: 100vh;
  overflow-y: auto;
  border-radius: 0;
}

.modal.modal-left .modal-dialog {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  margin: 0 auto 0 0;
}

.modal.modal-right .modal-dialog {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  margin: 0 0 0 auto;
}

.banner-area {
  overflow: hidden;
}

.banner-bg-one {
  background-image: url("../images/banner/main1.jpg");
}

.banner-item {
  height: 850px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 18, 58, 0.184946)), to(rgba(2, 18, 58, 0)));
  background: linear-gradient(90deg, rgba(2, 18, 58, 0.184946) 0%, rgba(2, 18, 58, 0) 100%);
  opacity: .10;
}

.banner-content {
  position: relative;
  z-index: 1;
  max-width: 675px;
  margin-top: 70px;
}

.banner-content .title {
  font-size: 20px;
  display: block;
  font-weight: 600;
  color: #20bdd1;
  margin-bottom: 25px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.banner-content h1 {
  font-size: 68px;
  margin-bottom: 35px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.about-area {
  background-color: #ecf7f9;
  background-image: url("../images/about/bg1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-area .about-img {
  text-align: center;
}

.about-area .about-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-area .about-content .section-title {
  margin-left: 0;
  text-align: start;
}

.about-area .about-content .section-title p {
  font-weight: 500;
}

.about-area .about-content ul {
  margin: 0;
  padding: 0;
}

.about-area .about-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  padding-left: 40px;
}

.about-area .about-content ul li:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.about-area .about-content ul li i {
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  color: #20bdd1;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.about-area .about-content .common-btn {
  margin-top: 25px;
}

.services-item {
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.services-item:hover .bottom span {
  width: 50px;
  height: 50px;
}

.services-item:hover .bottom .icon {
  color: #fff;
  background-color: #20bdd1;
}

.services-item .top a {
  display: block;
}

.services-item .top a img {
  border-radius: 10px;
}

.services-item .bottom {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 30px 30px 30px 105px;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  -webkit-box-shadow: 0px 8px 20px 0px #f5fcfe;
          box-shadow: 0px 8px 20px 0px #f5fcfe;
}

.services-item .bottom span {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-item .bottom span:nth-child(1) {
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top: 3px solid #20bdd1;
  border-left: 3px solid #20bdd1;
}

.services-item .bottom span:nth-child(2) {
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  border-top: 3px solid #20bdd1;
  border-right: 3px solid #20bdd1;
}

.services-item .bottom span:nth-child(3) {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-bottom: 3px solid #20bdd1;
  border-right: 3px solid #20bdd1;
}

.services-item .bottom span:nth-child(4) {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom: 3px solid #20bdd1;
  border-left: 3px solid #20bdd1;
}

.services-item .bottom .icon {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  color: #20bdd1;
  background-color: #e0f8fc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.services-item .bottom h3 a {
  color: #02123a;
}

.services-item .bottom h3 a:hover {
  color: #20bdd1;
}

.services-item .bottom p {
  margin-bottom: 10px;
}

.services-item .bottom .services-btn {
  display: inline-block;
  color: #20bdd1;
  font-weight: 500;
}

.services-item .bottom .services-btn i {
  position: relative;
  top: 2px;
}

.services-item .bottom .services-btn:hover {
  color: #02123a;
}

.consultation-area {
  background-image: url("../images/consultation-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.consultation-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .70;
  z-index: -1;
}

.consultation-area .section-title {
  margin-bottom: 30px;
  text-align: start;
}

.consultation-area .consultation-content {
  text-align: end;
  margin-bottom: 30px;
}

.consultation-area .consultation-content ul {
  margin: 0;
  padding: 0;
}

.consultation-area .consultation-content ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  text-align: start;
}

.consultation-area .consultation-content ul li .common-btn {
  -webkit-box-shadow: 0px 0px 20px 0px #5fc8db;
          box-shadow: 0px 0px 20px 0px #5fc8db;
  margin-right: 30px;
}

.consultation-area .consultation-content ul li h3 {
  font-size: 34px;
  margin-bottom: 5px;
}

.consultation-area .consultation-content ul li h3 a {
  color: #02123a;
}

.consultation-area .consultation-content ul li h3 a:hover {
  color: #35405c;
}

.consultation-area .consultation-content ul li span {
  display: block;
  font-weight: 500;
}

.doctors-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #e5fafd;
          box-shadow: 0px 0px 20px 0px #e5fafd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.doctors-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.doctors-item .top {
  position: relative;
  text-align: center;
  background-color: #e1f4fa;
}

.doctors-item .top ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30%;
  left: 30px;
  display: none;
}

.doctors-item .top ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
}

.doctors-item .top ul li a {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  color: #fff;
  background-color: #20bdd1;
}

.doctors-item .top ul li a i {
  line-height: 45px;
}

.doctors-item .top ul li a:hover {
  color: #fff;
  background-color: #02123a;
}

.doctors-item .bottom {
  padding: 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
}

.doctors-item .bottom .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.doctors-item .bottom .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  margin-left: 15px;
}

.doctors-item .bottom i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #20bdd1;
  background-color: #e1f4fa;
  font-size: 35px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.doctors-item .bottom i:hover {
  color: #fff;
  background-color: #20bdd1;
}

.doctors-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

.doctors-item .bottom h3 a {
  color: #20bdd1;
}

.doctors-item .bottom h3 a:hover {
  color: #02123a;
}

.doctors-item .bottom span {
  display: block;
}

.choose-area {
  position: relative;
  z-index: 1;
  background-color: #f6fcfe;
}

.choose-area .choose-shape img {
  position: absolute;
  z-index: -1;
}

.choose-area .choose-shape img:nth-child(1) {
  top: 0;
  right: 0;
}

.choose-area .choose-shape img:nth-child(2) {
  bottom: 0;
  right: 0;
}

.choose-area .choose-shape img:nth-child(3) {
  bottom: 0;
  left: 0;
}

.choose-area .choose-img {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.choose-area .choose-img:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #20bdd1;
  z-index: -1;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
}

.choose-area .choose-img img {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.choose-area .choose-content .section-title {
  text-align: start;
}

.choose-area .choose-content .section-title p {
  font-weight: 500;
}

.choose-area .choose-content ul {
  margin: 0;
  padding: 0;
}

.choose-area .choose-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;
}

.choose-area .choose-content ul li:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.choose-area .choose-content ul li i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: #20bdd1;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #e5f9fd;
          box-shadow: 0px 0px 20px 0px #e5f9fd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.choose-area .choose-content ul li h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

@-webkit-keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@-webkit-keyframes border-transform-default-two {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  28% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  70% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default-two {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  28% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  70% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.blog-area .section-title h2 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.blog-item {
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.blog-item .top a {
  display: block;
}

.blog-item .top a img {
  border-radius: 10px;
}

.blog-item .bottom {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 25px 30px;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  -webkit-box-shadow: 0px 8px 20px 0px #f5fcfe;
          box-shadow: 0px 8px 20px 0px #f5fcfe;
  position: relative;
}

.blog-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.blog-item .bottom h3 a {
  color: #02123a;
}

.blog-item .bottom h3 a:hover {
  color: #20bdd1;
}

.blog-item .bottom p {
  margin-bottom: 12px;
}

.blog-item .bottom ul {
  margin: 0;
  padding: 0;
}

.blog-item .bottom ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

.blog-item .bottom ul li span {
  display: block;
  font-weight: 500;
  color: #20bdd1;
  font-size: 16px;
}

.testimonials-area {
  background-image: url("../images/testimonials-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.testimonials-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .70;
  z-index: -1;
}

.testimonials-area .testimonials-img img {
  position: absolute;
  bottom: 0;
  right: 30px;
  max-width: 170px;
}

.testimonials-area .testimonials-slider {
  max-width: 1150px;
}

.testimonials-area .testimonials-item {
  border-radius: 10px;
  background-color: #20bdd1;
  padding: 30px 90px 30px 30px;
}

.testimonials-area .testimonials-item .top {
  position: relative;
  padding-left: 75px;
  margin-bottom: 25px;
}

.testimonials-area .testimonials-item .top img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60px;
  border-radius: 50%;
}

.testimonials-area .testimonials-item .top h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #fff;
}

.testimonials-area .testimonials-item .top span {
  display: block;
}

.testimonials-area .testimonials-item p {
  font-size: 18px;
  color: #fff;
  font-style: italic;
  margin-bottom: 20px;
}

.testimonials-area .testimonials-item ul {
  margin: 0;
  padding: 0;
}

.testimonials-area .testimonials-item ul li {
  list-style-type: none;
  display: inline-block;
}

.testimonials-area .testimonials-item ul li i {
  color: #ddd;
}

.testimonials-area .testimonials-item ul li i.checked {
  color: #fff;
}

.testimonials-area .testimonials-item .icon {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  right: 35px;
}

.testimonials-area .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  margin-bottom: -11px;
}

.testimonials-area .owl-theme .owl-dots .owl-dot span {
  background: #02123a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 15px;
  height: 15px;
}

.testimonials-area .owl-theme .owl-dots .owl-dot.active span, .testimonials-area .owl-theme .owl-dots .owl-dot:hover span {
  background: #20bdd1;
}

.partner-item {
  text-align: center;
}

.partner-item img {
  margin-left: auto;
  margin-right: auto;
  width: auto !important;
}

.footer-area {
  background-color: #020016;
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item h3 {
  font-size: 22px;
  color: #20bdd1;
  margin-bottom: 30px;
}

.footer-item .footer-contact ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-contact ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.footer-item .footer-contact ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-contact ul li span {
  display: block;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.footer-item .footer-contact ul li a {
  display: block;
  color: #fff;
}

.footer-item .footer-contact ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-item .footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-links ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.footer-item .footer-links ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-links ul li a {
  display: block;
  color: #fff;
}

.footer-item .footer-links ul li a:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-item .footer-hours ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-hours ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  color: #fff;
  position: relative;
}

.footer-item .footer-hours ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-hours ul li span {
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
}

.copyright-area {
  background-color: #0e0c21;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright-area p {
  color: #fff;
}

.copyright-area p a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
}

.copyright-area p a:hover {
  letter-spacing: 1px;
  color: #fff;
}

.copyright-area ul {
  text-align: end;
  margin: 0;
  padding: 0;
}

.copyright-area ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #fff;
}

.copyright-area ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.copyright-area ul li a {
  color: #fff;
}

.copyright-area ul li a:hover {
  letter-spacing: 1px;
  color: #fff;
}

/*----- Home Demo Two -----*/
.banner-bg-two {
  background-image: url("../images/banner/main2.jpg");
}

.banner-bg-three {
  background-image: url("../images/banner/main3.jpg");
}

.banner-bg-four {
  background-image: url("../images/banner/main4.jpg");
}

.banner-area.two .banner-item:before {
  background: -webkit-gradient(linear, left top, right top, color-stop(36%, rgba(255, 255, 255, 0.816969)), color-stop(61%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.816969) 36%, rgba(255, 255, 255, 0) 61%);
  opacity: 1;
}

.banner-area.two .banner-content {
  max-width: 720px;
}

.banner-area.two .banner-content h1 {
  margin-bottom: 22px;
}

.banner-area.two .banner-content p {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-area.two .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.banner-area.two .owl-theme .owl-dots .owl-dot span {
  width: 60px;
  height: 6px;
  background: #82dce7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner-area.two .owl-theme .owl-dots .owl-dot.active span, .banner-area.two .owl-theme .owl-dots .owl-dot:hover span {
  background: #20bdd1;
}

.about-area.two {
  background-image: unset;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.about-area.two .about-shape img {
  position: absolute;
  z-index: -1;
}

.about-area.two .about-shape img:nth-child(1) {
  top: 0;
  right: 0;
}

.about-area.two .about-shape img:nth-child(2) {
  left: 0;
  bottom: 0;
}

.about-area.two .about-img {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.about-area.two .about-img:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #20bdd1;
  z-index: -1;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
}

.about-area.two .about-img img {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.about-area.two .about-content {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.about-area.two .about-content ul li i {
  color: #02123a;
  background-color: #ddf8fb;
}

.about-area.two .about-content ul li:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.services-area.two {
  background-image: url(../images/testimonials-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.services-area.two:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .70;
  z-index: -1;
}

.services-area.two .services-item .bottom {
  max-width: 100%;
  margin-top: 0;
}

.counter-area {
  background-image: url(../images/consultation-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.counter-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .70;
  z-index: -1;
}

.counter-item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd;
          box-shadow: 0px 0px 20px 0px #dddddd;
  position: relative;
  padding: 40px 30px 40px 115px;
  margin-bottom: 30px;
}

.counter-item i {
  display: inline-block;
  color: #20bdd1;
  font-size: 70px;
  line-height: 70px;
  position: absolute;
  top: 40px;
  left: 30px;
}

.counter-item h3 {
  font-size: 40px;
  color: #20bdd1;
  margin-bottom: 5px;
  margin-top: -10px;
}

.counter-item h3 .target {
  margin-left: -5px;
  position: relative;
  top: 1px;
}

.counter-item p {
  font-weight: 500;
}

img.mfp-img {
  background-color: #e1f4fa;
}

.shop-item {
  margin-bottom: 30px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.shop-item h4 {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  color: #fff;
  background-color: #20bdd1;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
}

.shop-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.shop-item:hover .top ul {
  left: 30px;
  opacity: 1;
  visibility: visible;
}

.shop-item .top {
  background-color: #e1f4fa;
  padding: 30px 30px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.shop-item .top ul {
  position: absolute;
  top: 30px;
  left: 20px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop-item .top ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
}

.shop-item .top ul li a {
  display: block;
  width: 55px;
  font-size: 25px;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  color: #20bdd1;
  background-color: #fff;
}

.shop-item .top ul li a i {
  line-height: 55px;
}

.shop-item .top ul li a:hover {
  color: #fff;
  background-color: #20bdd1;
}

.shop-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.shop-item .bottom h3 a {
  color: #20bdd1;
}

.shop-item .bottom h3 a:hover {
  color: #02123a;
}

.shop-item .bottom span {
  display: block;
  font-size: 16px;
}

.client-area {
  background-color: #7adfed;
  position: relative;
}

.client-area .client-img img {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.client-area .section-title {
  text-align: start;
}

.client-area .section-title .top .top-title {
  color: #90e4ef;
  opacity: 1;
}

.client-area .section-title .top .sub-title {
  color: #35405c;
}

.client-area .section-title h2 {
  max-width: 500px;
}

.client-area .slider-for {
  max-width: 640px;
}

.client-area .client-item {
  position: relative;
}

.client-area .client-item .icon {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 15px;
}

.client-area .client-item p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.client-area .client-item ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.client-area .client-item ul li {
  list-style-type: none;
  display: inline-block;
}

.client-area .client-item ul li i {
  display: block;
  color: #fff;
  font-size: 18px;
}

.client-area .client-item ul li i.checked {
  color: #fff;
}

.client-area .slider-nav {
  max-width: 550px;
}

.client-area .top-img {
  opacity: .60;
  cursor: pointer;
}

.client-area .top-img:focus {
  outline: none;
}

.client-area .top-img.slick-current {
  opacity: 1;
}

.client-area .top-img img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.client-area .top-img h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.client-area .top-img span {
  display: block;
}

.features-item {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px 30px 25px;
  background-color: #7adfed;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  background-color: #e1f4fa;
}

.features-item:hover .features-btn {
  color: #20bdd1;
}

.features-item span {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.features-item i {
  display: inline-block;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 35px;
  color: #20bdd1;
  background-color: #fff;
  margin-bottom: 22px;
  border-radius: 5px;
}

.features-item h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.features-item h3 a {
  color: #02123a;
}

.features-item h3 a:hover {
  letter-spacing: 1px;
}

.features-item p {
  margin-bottom: 13px;
}

.features-item .features-btn {
  font-weight: 600;
  color: #35405c;
  font-size: 16px;
}

.appointment-area {
  background-color: #e1f4fa;
  position: relative;
  z-index: 1;
}

.appointment-area .appointment-shape img {
  position: absolute;
  z-index: -1;
}

.appointment-area .appointment-shape img:nth-child(1) {
  top: 0;
  right: 0;
}

.appointment-area .appointment-shape img:nth-child(2) {
  bottom: 0;
  right: 0;
}

.appointment-area .appointment-img {
  background-image: url("../images/appointment-main1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.appointment-area .appointment-img img {
  display: none;
}

.appointment-area .appointment-content {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
  max-width: 645px;
}

.appointment-area .appointment-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.appointment-area .appointment-content span {
  display: block;
  margin-bottom: 30px;
}

.appointment-area .appointment-content .form-group {
  margin-bottom: 15px;
}

.appointment-area .appointment-content .form-group .form-control {
  height: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #35405c;
  padding-left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.appointment-area .appointment-content .form-group .form-control:focus {
  border: 0;
  border-bottom: 1px solid #20bdd1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.appointment-area .appointment-content .form-group textarea {
  height: auto !important;
}

.appointment-area .appointment-content .common-btn {
  margin-top: 10px;
}

.appointment-area .appointment-content .common-btn span {
  margin-bottom: 0;
}

/*----- Home Demo Three -----*/
.main-nav.two {
  background: #02123a;
}

.main-nav.two .side-nav .cart a span {
  color: #fff;
  background-color: #20bdd1;
}

.main-nav.two .side-nav .social {
  margin-right: 0;
}

.banner-area.three {
  background-color: #99e2ec;
  position: relative;
  z-index: 1;
}

.banner-area.three .banner-shape img {
  z-index: -1;
  position: absolute;
}

.banner-area.three .banner-shape img:nth-child(1) {
  top: 0;
  left: 0;
}

.banner-area.three .banner-shape img:nth-child(2) {
  top: 0;
  right: 0;
}

.banner-area.three .banner-shape img:nth-child(3) {
  z-index: 1;
  bottom: 0;
  right: 75px;
  max-width: 530px;
}

.banner-area.three .banner-content {
  max-width: 770px;
}

.banner-area.three .banner-content .title {
  color: #fff;
}

.banner-area.three .banner-content h1 {
  margin-bottom: 22px;
}

.banner-area.three .banner-content p {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.banner-area.three .banner-content .common-btn {
  background-color: #02123a;
}

.banner-area.three .banner-content .banner-btn {
  margin-left: 15px;
  background-color: #fff;
  color: #02123a;
}

.banner-area.three .banner-content .banner-btn .one:before, .banner-area.three .banner-content .banner-btn .two:before {
  background-color: #02123a;
}

.banner-area.three .banner-content .banner-btn .one:after, .banner-area.three .banner-content .banner-btn .two:after {
  background-color: #02123a;
}

.about-area.three .about-img-two {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.about-area.three .about-img-two:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background-color: #bff0f6;
  z-index: -1;
}

.about-area.three .about-img-two img {
  border-radius: 30px;
  position: relative;
  top: -30px;
  left: 40px;
  max-width: 610px;
}

.about-area.three .about-content {
  padding-left: 30px;
}

.about-area.three .about-content .section-title {
  margin-bottom: 30px;
}

.about-area.three .about-content .section-title p {
  margin-bottom: 0 !important;
  border-left: 3px solid #20bdd1;
  padding-left: 15px;
}

.about-area.three .about-content p {
  margin-bottom: 5px;
}

.about-area.three .about-content ul {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.about-area.three .about-content ul li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  padding-left: 0;
  margin-right: 20px;
}

.about-area.three .about-content ul li:hover a i {
  color: #20bdd1;
  background-color: transparent;
}

.about-area.three .about-content ul li a {
  display: inline-block;
  vertical-align: middle;
}

.about-area.three .about-content ul li a:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.about-area.three .about-content ul li a i {
  position: relative;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 68px;
  font-size: 45px;
  color: #20bdd1;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #20bdd1;
}

.about-area.three .about-content ul li span {
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 5px;
}

.about-area.three .about-content ul li .common-btn {
  margin-top: 0;
  color: #fff;
  background-color: #02123a;
}

.about-area.three .about-content ul li .common-btn span {
  margin-left: 0;
  display: unset;
}

.features-area.two {
  background-color: #e5f9fc;
  position: relative;
  z-index: 1;
}

.features-area.two .features-shape img {
  position: absolute;
  z-index: -1;
}

.features-area.two .features-shape img:nth-child(1) {
  top: 0;
  left: 0;
}

.features-area.two .features-shape img:nth-child(2) {
  top: 0;
  right: 0;
}

.features-area.two .features-item i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features-area.two .features-item:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #b4ecf5;
          box-shadow: 0px 0px 20px 0px #b4ecf5;
}

.features-area.two .features-item:hover i {
  color: #fff;
  background-color: #20bdd1;
}

.services-area.three {
  background-color: #02123a;
}

.services-area.three .section-title {
  text-align: start;
}

.services-area.three .section-title h2 {
  color: #fff;
}

.services-area.three .section-title p {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 0;
  max-width: 620px;
}

.services-area.three .services-item .bottom {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.counter-area.two {
  background-image: unset;
}

.counter-area.two:before {
  display: none;
}

.counter-area.two .counter-item {
  -webkit-box-shadow: 0px 0px 20px 0px #e6f8fa;
          box-shadow: 0px 0px 20px 0px #e6f8fa;
}

.faq-area {
  background-image: url(../images/faq-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.faq-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .70;
  z-index: -1;
}

.faq-area .container {
  position: relative;
}

.faq-area .container .faq-img img {
  position: absolute;
  left: 0;
  bottom: -100px;
  max-width: 500px;
}

.faq-area .faq-item {
  max-width: 800px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: auto;
  padding: 50px 30px 50px;
}

.faq-area .faq-item .accordion {
  margin: 0;
  padding: 0;
}

.faq-area .faq-item .accordion li {
  position: relative;
  list-style-type: none;
  margin-bottom: 30px;
  display: block;
}

.faq-area .faq-item .accordion li:last-child {
  margin-bottom: 0;
}

.faq-area .faq-item .accordion li .faq-head {
  color: #02123a;
  font-size: 18px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1.4;
  position: relative;
  padding-left: 50px;
}

.faq-area .faq-item .accordion li .faq-head span {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  color: #02123a;
  background-color: #d8f6fb;
}

.faq-area .faq-item .accordion li .faq-head:after {
  position: absolute;
  right: 15px;
  content: "+";
  top: -7px;
  color: #02123a;
  font-size: 25px;
  text-align: center;
}

.faq-area .faq-item .accordion li .faq-head.active {
  color: #20bdd1;
}

.faq-area .faq-item .accordion li .faq-head.active:after {
  content: '-';
  font-size: 25px;
}

.faq-area .faq-item .accordion li .faq-content {
  display: none;
  background-color: #fff;
  padding-left: 50px;
}

.faq-area .faq-item .accordion li .faq-content .inner-list {
  margin: 0;
  padding: 0;
}

.faq-area .faq-item .accordion li .faq-content .inner-list li {
  list-style-type: none;
  display: block;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  margin-bottom: 10px;
}

.faq-area .faq-item .accordion li .faq-content .inner-list li:last-child {
  margin-bottom: 0;
}

.faq-area .faq-item .accordion li .faq-content p {
  margin-bottom: 0;
  margin-top: 8px;
}

.faq-area .faq-item .accordion li .faq-content a {
  display: inline-block;
  color: #02123a;
  font-weight: 600;
}

.faq-area .faq-item .accordion li .faq-content a:hover {
  color: #20bdd1;
}

.pricing-item {
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #e5f6fc;
  padding: 30px 30px 30px;
  border-radius: 5px;
  text-align: center;
}

.pricing-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #daf7fa;
          box-shadow: 0px 0px 20px 0px #daf7fa;
}

.pricing-item .title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
  display: block;
}

.pricing-item i {
  display: inline-block;
  color: #20bdd1;
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 15px;
}

.pricing-item h3 {
  margin-bottom: 25px;
  font-size: 40px;
}

.pricing-item ul {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.pricing-item ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #b4c3ce;
}

/*----- About -----*/
.main-nav.three {
  background-color: #02123a;
}

.main-nav.three .side-nav .cart a span {
  color: #fff;
  background-color: #20bdd1;
}

.title-bg-one {
  background-image: url("../images/title/1.jpg");
}

.page-title-area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  height: 450px;
}

.page-title-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .80;
  z-index: -1;
}

.page-title-area .title-content {
  text-align: center;
  margin-top: 80px;
}

.page-title-area .title-content h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.page-title-area .title-content ul {
  margin: 0;
  padding: 0;
}

.page-title-area .title-content ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.page-title-area .title-content ul li:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  right: -13px;
  top: 6px;
  background-color: #02123a;
}

.page-title-area .title-content ul li:last-child:before {
  display: none;
}

.page-title-area .title-content ul li a {
  display: block;
  color: #35405c;
}

.page-title-area .title-content ul li a:hover {
  color: #20bdd1;
}

.page-title-area .title-content ul li span {
  display: block;
}

.services-area.four .section-title {
  text-align: start;
}

.services-area.four .section-title p {
  margin: 0;
  position: absolute;
  top: 30px;
  right: 0;
  max-width: 650px;
}

.title-bg-two {
  background-image: url("../images/title/2.jpg");
}

/*----- Doctor Details -----*/
.common-social {
  margin: 0;
  padding: 0;
}

.common-social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}

.common-social li a {
  display: block;
  border-radius: 5px;
  color: #fff;
  background-color: #20bdd1;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
}

.common-social li a i {
  line-height: 35px;
}

.common-social li a:hover {
  color: #fff;
  background-color: #02123a;
}

.doctor-details-area .doctor-info {
  margin-bottom: 30px;
}

.doctor-details-area .doctor-info .top {
  text-align: center;
  background-color: #b1e9f0;
  padding-top: 30px;
}

.doctor-details-area .doctor-info .bottom {
  padding: 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f2fdfe;
          box-shadow: 0px 0px 20px 0px #f2fdfe;
}

.doctor-details-area .doctor-info .bottom h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.doctor-details-area .doctor-info .bottom span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #20bdd1;
}

.doctor-details-area .doctor-info .bottom p {
  margin-bottom: 22px;
}

.doctor-details-area .details-content {
  margin-bottom: 30px;
}

.doctor-details-area .details-content h2 {
  font-size: 45px;
  margin-bottom: 12px;
}

.doctor-details-area .details-content p {
  margin-bottom: 8px;
}

.doctor-details-area .details-content p:last-child {
  margin-bottom: 0;
}

.doctor-details-area .details-content .info {
  padding: 30px 30px;
  background-color: #e6f9fc;
  margin-top: 30px;
  margin-bottom: 30px;
}

.doctor-details-area .details-content .info ul {
  margin: 0;
  padding: 0;
}

.doctor-details-area .details-content .info ul li {
  list-style-type: none;
  display: block;
  position: relative;
  font-weight: 500;
  margin-bottom: 12px;
}

.doctor-details-area .details-content .info ul li:last-child {
  margin-bottom: 0;
}

.doctor-details-area .details-content .info ul li span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
}

.doctor-details-area .details-content h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.doctor-details-area .details-content .row {
  margin-top: 30px;
}

.doctor-details-area .details-content .inner {
  margin-bottom: 30px;
  background-color: #f5fbfc;
  position: relative;
  padding-left: 100px;
  padding: 50px 30px 50px 110px;
  border-radius: 5px;
}

.doctor-details-area .details-content .inner i {
  display: inline-block;
  color: #20bdd1;
  font-size: 60px;
  line-height: 60px;
  position: absolute;
  top: 50px;
  left: 30px;
}

.doctor-details-area .details-content .inner h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.doctor-details-area .details-content .inner span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #20bdd1;
}

.doctor-details-area .details-content .list-service {
  margin-top: 25px;
  margin-bottom: 10px;
}

.doctor-details-area .details-content .list-service ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.doctor-details-area .details-content .list-service ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #daf8fc;
  font-weight: 500;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  padding: 15px 15px 15px 35px;
}

.doctor-details-area .details-content .list-service ul li:before {
  position: absolute;
  top: 22px;
  left: 15px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #35405c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.doctor-details-area .details-content .list-service ul li:hover:before {
  background-color: #20bdd1;
}

.common-doctor-contact {
  margin-bottom: 30px;
  background-image: url("../images/doctors/bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding: 30px 30px 30px;
}

.common-doctor-contact:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #20bdd1;
  opacity: .95;
  z-index: -1;
}

.common-doctor-contact .inner {
  position: relative;
  padding-left: 85px;
  margin-bottom: 20px;
}

.common-doctor-contact .inner i {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 35px;
  border-radius: 50%;
  color: #20bdd1;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
}

.common-doctor-contact .inner a {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  display: block;
}

.common-doctor-contact .inner a:hover {
  color: #02123a;
}

.common-doctor-contact h4 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 30px;
}

.common-doctor-contact p {
  color: #fff;
  margin-bottom: 20px;
}

.common-doctor-contact .common-btn {
  color: #20bdd1;
  background-color: #fff;
}

.common-doctor-contact .common-btn .one:before, .common-doctor-contact .common-btn .two:before {
  background-color: #02123a;
}

.common-doctor-contact .common-btn .one:after, .common-doctor-contact .common-btn .two:after {
  background-color: #02123a;
}

.title-bg-three {
  background-image: url("../images/title/3.jpg");
}

/*----- Service Details -----*/
.service-details-area .details-item img {
  margin-bottom: 25px;
}

.service-details-area .details-item h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.service-details-area .details-item p {
  margin-bottom: 8px;
}

.service-details-area .details-item p:last-child {
  margin-bottom: 0;
}

.service-details-area .details-item h3 {
  font-size: 22px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.service-details-area .details-item ul {
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.service-details-area .details-item ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
  position: relative;
  padding-left: 20px;
}

.service-details-area .details-item ul li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 8px;
  left: 0;
  background-color: #20bdd1;
  border-radius: 50%;
}

.service-details-area .details-item ul li:last-child {
  margin-bottom: 0;
}

.widget-area .widget-item {
  margin-bottom: 30px;
}

.widget-area .widget-item:last-child {
  margin-bottom: 0;
}

.widget-area .widget-item h3 {
  font-size: 22px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}

.widget-area .widget-item h3:before {
  position: absolute;
  content: '';
  width: 80px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #20bdd1;
}

.widget-area .categories ul {
  margin: 0;
  padding: 0;
}

.widget-area .categories ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 20px;
}

.widget-area .categories ul li:last-child {
  margin-bottom: 0;
}

.widget-area .categories ul li a {
  display: block;
  color: #35405c;
  font-weight: 500;
  padding: 15px 15px 15px 35px;
  background-color: #edfafe;
  position: relative;
}

.widget-area .categories ul li a:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 22px;
  left: 15px;
  background-color: #20bdd1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.widget-area .categories ul li a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px #edfafe;
          box-shadow: 0px 0px 15px 0px #edfafe;
}

.widget-area .categories ul li a:hover:before {
  border-radius: 50%;
}

.widget-area .consult {
  padding: 30px 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .consult .form-group {
  margin-bottom: 20px;
}

.widget-area .consult .form-group label {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  display: block;
}

.widget-area .consult .form-group .form-control {
  height: 60px;
  border: 0;
  border-radius: 0;
  background-color: #edfafe;
}

.widget-area .consult .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.widget-area .consult .nice-select {
  height: 60px;
  line-height: 60px;
  border: 0;
  border-radius: 0;
  background-color: #edfafe;
  font-size: 17px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.widget-area .consult .nice-select ul {
  border-radius: 0;
  border: 0;
  width: 100%;
  display: block;
}

.widget-area .consult .text-center {
  text-align: start !important;
}

.widget-area .consult .common-btn {
  border-radius: 0;
}

.cart-area .cart-content p {
  font-size: 20px;
  font-weight: 500;
  background-color: #f9f9f9;
  padding: 30px 30px 30px 75px;
  margin-bottom: 0;
  position: relative;
  border-bottom: 1px solid #20bdd1;
  margin-bottom: 30px;
}

.cart-area .cart-content p:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: 32px;
  left: 30px;
  border: 1px solid #20bdd1;
}

.checkout-area .top {
  margin-bottom: 30px;
}

.checkout-area .top .form-check {
  background-color: #f5f6f6;
  padding: 25px 25px 25px 60px;
  margin-bottom: 20px;
}

.checkout-area .top .form-check:last-child {
  margin-bottom: 0;
}

.checkout-area .top .form-check .form-check-input {
  border-radius: 0;
  margin-top: 3px;
}

.checkout-area .top .form-check .form-check-input:focus {
  border-color: #20bdd1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkout-area .top .form-check .form-check-label {
  font-weight: 500;
}

.checkout-area .top .form-check .form-check-label a {
  display: inline-block;
  color: #20bdd1;
}

.checkout-area .top .form-check .form-check-label a:hover {
  color: #35405c;
}

.checkout-area .billing {
  padding: 30px 30px;
  background-color: #f5f6f6;
  margin-bottom: 30px;
}

.checkout-area .billing h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.checkout-area .billing .form-group {
  margin-bottom: 20px;
}

.checkout-area .billing .form-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.checkout-area .billing .form-group .form-control {
  height: 50px;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.checkout-area .billing .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkout-area .billing .form-group textarea {
  padding-top: 13px;
  height: auto !important;
}

.checkout-area .summery {
  padding: 30px 30px 30px;
  background-color: #f5f6f6;
  margin-bottom: 30px;
}

.checkout-area .summery h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.checkout-area .summery ul {
  margin: 0;
  padding: 0;
}

.checkout-area .summery ul li {
  list-style-type: none;
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #35405c;
  font-weight: 500;
}

.checkout-area .summery ul li span {
  position: absolute;
  top: 0;
  right: 0;
}

.checkout-area .summery ul li:last-child {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.wishlist-area .table {
  background-color: #f9f9f9;
  margin-bottom: 0;
  text-align: center;
}

.wishlist-area .table thead tr {
  border: 0;
  border-bottom: 2px solid #20bdd1;
}

.wishlist-area .table thead th {
  padding-top: 25px;
  padding-bottom: 25px;
}

.wishlist-area .table tbody tr {
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.wishlist-area .table tbody .trash {
  display: inline-block;
  font-size: 40px;
  color: #20bdd1;
  font-weight: 400;
}

.wishlist-area .table tbody .trash:hover {
  color: #02123a;
}

.shop-details-area .details-img {
  text-align: center;
  background-color: #e8f8fd;
  margin-bottom: 30px;
}

.shop-details-area .details-img img {
  padding-top: 50px;
  padding-bottom: 50px;
}

.shop-details-area .details-content {
  margin-bottom: 30px;
}

.shop-details-area .details-content h2 {
  font-size: 30px;
  margin-bottom: 12px;
}

.shop-details-area .details-content .reviews {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.shop-details-area .details-content .reviews li {
  list-style-type: none;
  display: inline-block;
}

.shop-details-area .details-content .reviews li i {
  display: block;
  color: #ddd;
}

.shop-details-area .details-content .reviews li i.checked {
  color: #ffc107;
}

.shop-details-area .details-content h3 {
  font-size: 22px;
  color: #20bdd1;
  margin-bottom: 8px;
}

.shop-details-area .details-content p {
  margin-bottom: 15px;
}

.shop-details-area .details-content .tag {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  max-width: 300px;
}

.shop-details-area .details-content .tag li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
  position: relative;
  font-weight: 500;
}

.shop-details-area .details-content .tag li:last-child {
  margin-bottom: 0;
}

.shop-details-area .details-content .tag li span {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
}

.shop-details-area .details-content .tag li .number {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.shop-details-area .details-content .tag li .number li {
  list-style-type: none;
  display: inline-block;
}

.shop-details-area .details-content .tag li .number li span {
  position: relative;
  display: inline-block;
}

.shop-details-area .details-content .tag li .number li .minus, .shop-details-area .details-content .tag li .number li .plus {
  color: #35405c;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 20px;
  vertical-align: middle;
  border: 1px solid #35405c;
}

.shop-details-area .details-content .tag li .number li input {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  color: #35405c;
  border: 1px solid #35405c;
  margin-left: -7px;
  margin-right: -5px;
}

.shop-details-area .details-content .tag li .number li input:focus {
  outline: 0;
}

.shop-details-area .details-content .common-btn {
  margin-bottom: 25px;
}

.shop-details-area .details-content .social-links {
  margin: 0;
  padding: 0;
}

.shop-details-area .details-content .social-links li {
  list-style-type: none;
  display: inline-block;
  margin-right: 8px;
}

.shop-details-area .details-content .social-links li span {
  display: block;
  font-weight: 500;
}

.shop-details-area .details-content .social-links li a {
  color: #20bdd1;
  display: block;
}

.shop-details-area .details-content .social-links li a:hover {
  color: #02123a;
}

.shop-details-area .describe-area .nav-pills {
  margin-bottom: 20px;
  border-bottom: 1px dotted #35405c;
  padding-bottom: 15px;
}

.shop-details-area .describe-area .nav-pills .nav-item:first-child .nav-link {
  padding-left: 0;
}

.shop-details-area .describe-area .nav-pills .nav-item:last-child .nav-link {
  border-right: 0;
  padding-right: 0;
}

.shop-details-area .describe-area .nav-pills .nav-link {
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid #20bdd1;
  border-radius: 0;
}

.shop-details-area .describe-area .nav-pills .nav-link.active, .shop-details-area .describe-area .nav-pills .show > .nav-link {
  color: #20bdd1;
  background-color: transparent;
}

.shop-details-area .describe-area .tab-content ul {
  margin: 0;
  padding: 0;
}

.shop-details-area .describe-area .tab-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 30px;
  position: relative;
  padding-left: 110px;
}

.shop-details-area .describe-area .tab-content ul li:last-child {
  margin-bottom: 0;
}

.shop-details-area .describe-area .tab-content ul li img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  max-width: 90px;
}

.shop-details-area .describe-area .tab-content ul li h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.shop-details-area .describe-area .tab-content ul li p {
  margin-bottom: 0;
  max-width: 870px;
}

/*----- Blog Details -----*/
.title-bg-four {
  background-image: url("../images/title/4.jpg");
}

.blog-details-area .details-item img {
  margin-bottom: 30px;
}

.blog-details-area .details-item ul {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.blog-details-area .details-item ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  color: #20bdd1;
}

.blog-details-area .details-item h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.blog-details-area .details-item p {
  margin-bottom: 8px;
}

.blog-details-area .details-item blockquote {
  background-color: #edfafe;
  padding: 30px 30px 30px;
  border-left: 2px solid #20bdd1;
  margin-top: 30px;
  margin-bottom: 25px;
}

.blog-details-area .details-item blockquote i {
  display: inline-block;
  color: #20bdd1;
  font-size: 40px;
  margin-bottom: 10px;
}

.blog-details-area .details-item blockquote p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.blog-details-area .details-item .row {
  margin-top: 30px;
}

.blog-details-area .details-item .tags {
  background-color: #e9f7fb;
  padding: 15px 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-details-area .details-item .tags .row {
  margin-top: 0;
}

.blog-details-area .details-item .tags .left ul {
  margin: 0;
  padding: 0;
}

.blog-details-area .details-item .tags .left ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
}

.blog-details-area .details-item .tags .left ul li:before {
  position: absolute;
  content: ',';
  right: -6px;
  bottom: 0;
  color: #35405c;
}

.blog-details-area .details-item .tags .left ul li:first-child {
  margin-right: 5px;
}

.blog-details-area .details-item .tags .left ul li:first-child:before {
  display: none;
}

.blog-details-area .details-item .tags .left ul li:last-child:before {
  display: none;
}

.blog-details-area .details-item .tags .left ul li i {
  display: inline-block;
  font-size: 28px;
  position: relative;
  top: 4px;
}

.blog-details-area .details-item .tags .left ul li a {
  display: inline-block;
  font-size: 16px;
  color: #35405c;
}

.blog-details-area .details-item .tags .left ul li a:hover {
  color: #20bdd1;
}

.blog-details-area .details-item .tags .right {
  text-align: end;
}

.blog-details-area .details-item .tags .right ul {
  margin: 0;
  padding: 0;
}

.blog-details-area .details-item .tags .right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.blog-details-area .details-item .tags .right ul li:last-child {
  margin-right: 0;
}

.blog-details-area .details-item .tags .right ul li span {
  display: block;
  font-weight: 500;
  color: #35405c;
}

.blog-details-area .details-item .tags .right ul li a {
  display: block;
  color: #20bdd1;
}

.blog-details-area .details-item .tags .right ul li a:hover {
  color: #02123a;
}

.blog-details-area .details-item .arrows {
  margin-bottom: 30px;
}

.blog-details-area .details-item .arrows .left a i {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-right: -4px;
}

.blog-details-area .details-item .arrows .right {
  text-align: end;
}

.blog-details-area .details-item .arrows .right a i {
  font-size: 20px;
  position: relative;
  top: 3px;
  margin-left: -4px;
}

.blog-details-area .details-item .arrows a {
  display: inline-block;
  color: #35405c;
}

.blog-details-area .details-item .arrows a:hover {
  color: #20bdd1;
}

.blog-details-area .details-item .comment h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.blog-details-area .details-item .comment .form-group {
  margin-bottom: 20px;
}

.blog-details-area .details-item .comment .form-group .form-control {
  height: 50px;
  background-color: #f7f9f9;
  border: 0;
  border-radius: 0;
}

.blog-details-area .details-item .comment .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .comment .form-group textarea {
  height: auto !important;
  padding-top: 13px;
}

.blog-details-area .details-item .comment .form-group .form-check {
  margin-bottom: 0;
}

.blog-details-area .details-item .comment .form-group .form-check .form-check-input {
  border-radius: 0;
  margin-top: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .comment .form-group .form-check .form-check-input:checked {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .comment .common-btn {
  border-radius: 0;
}

.widget-area .search form {
  position: relative;
}

.widget-area .search form .form-control {
  height: 60px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .search form .form-control:focus {
  border: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .search form .btn {
  width: 60px;
  height: 60px;
  border-radius: 0;
  font-size: 25px;
  line-height: 63px;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  background-color: #20bdd1;
  position: absolute;
  top: 0;
  right: 0;
}

.widget-area .search form .btn:hover {
  color: #fff;
  background-color: #02123a;
}

.widget-area .post {
  padding: 30px 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .post .inner {
  margin-bottom: 15px;
}

.widget-area .post .inner:last-child {
  margin-bottom: 0;
}

.widget-area .post .inner ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-area .post .inner ul li {
  list-style-type: none;
  display: inline-block;
}

.widget-area .post .inner ul li:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.widget-area .post .inner ul li:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  margin-left: 10px;
}

.widget-area .post .inner ul li a {
  display: block;
  color: #35405c;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.widget-area .post .inner ul li a:hover {
  color: #20bdd1;
}

.widget-area .post .inner ul li span {
  display: block;
  font-size: 15px;
  color: #20bdd1;
  position: relative;
  padding-left: 15px;
}

.widget-area .post .inner ul li span:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: 0;
  top: 7px;
  background-color: #20bdd1;
  border-radius: 50%;
}

.widget-area .tags {
  padding: 30px 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .tags h3 {
  margin-bottom: 22px;
}

.widget-area .tags ul {
  margin: 0;
  padding: 0;
}

.widget-area .tags ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 8px;
  margin-right: 3px;
}

.widget-area .tags ul li a {
  display: block;
  color: #35405c;
  font-weight: 500;
  font-size: 16px;
  background-color: #eff0f0;
  padding: 6px 15px;
}

.widget-area .tags ul li a:hover {
  color: #fff;
  background-color: #20bdd1;
}

.widget-area .common-doctor-contact.two:before {
  background-color: #02123a;
}

.contact-info-item {
  text-align: center;
  margin-bottom: 30px;
  padding: 40px 40px;
  -webkit-box-shadow: 0px 0px 20px 0px #e8eff0;
          box-shadow: 0px 0px 20px 0px #e8eff0;
}

.contact-info-item i {
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  border-radius: 50%;
  color: #20bdd1;
  border: 1px solid #20bdd1;
  margin-bottom: 20px;
}

.contact-info-item h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.contact-info-item a {
  display: block;
  color: #35405c;
}

.contact-info-item a:hover {
  color: #20bdd1;
}

.contact-area .map-item {
  margin-bottom: 30px;
}

.contact-area .map-item iframe {
  width: 100%;
  height: 520px;
  border: 0;
  display: block;
  width: 100%;
}

.contact-area #contactForm {
  margin-bottom: 30px;
}

.contact-area #contactForm h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

.contact-area #contactForm .form-group {
  margin-bottom: 20px;
}

.contact-area #contactForm .form-group .form-control {
  height: 50px;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #fafafa;
          box-shadow: 0px 0px 20px 0px #fafafa;
}

.contact-area #contactForm .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: 0px 0px 20px 0px #fafafa;
          box-shadow: 0px 0px 20px 0px #fafafa;
}

.contact-area #contactForm .form-group textarea {
  height: auto !important;
  padding-top: 13px;
}

.contact-area #contactForm .form-check {
  margin-bottom: 0;
}

.contact-area #contactForm .form-check .form-check-input {
  border-radius: 0;
  margin-top: 4px;
}

.contact-area #contactForm .form-check a {
  display: inline-block;
  color: #20bdd1;
  font-weight: 500;
}

.contact-area #contactForm .form-check a:hover {
  color: #35405c;
}

.contact-area #contactForm .common-btn {
  width: 100%;
  display: block;
  border-radius: 0;
}

.contact-area #contactForm .list-unstyled {
  margin-top: 10px;
  color: #dc3545 !important;
}

.contact-area #contactForm .text-danger {
  margin-bottom: 0;
  margin-top: 10px;
  color: #dc3545 !important;
}

.contact-area #contactForm .text-success {
  margin-bottom: 0;
  margin-top: 10px;
  color: #198754 !important;
}

.account-area .account-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.account-area .account-item .nav-pills {
  text-align: center;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.account-area .account-item .nav-pills li {
  display: inline-block;
}

.account-area .account-item .nav-pills li:last-child .nav-link {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.account-area .account-item .nav-pills li .nav-link {
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  border-right: 1px solid #35405c;
  border-radius: 0;
  margin-right: 20px;
  padding-right: 20px;
}

.account-area .account-item .nav-pills .nav-link.active, .account-area .account-item .nav-pills .nav-pills .show > .nav-link {
  color: #20bdd1;
  background-color: transparent;
}

.account-area .account-item .form-group {
  margin-bottom: 15px;
}

.account-area .account-item .form-group label {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.account-area .account-item .form-group .form-control {
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #eff9fc;
}

.account-area .account-item .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.account-area .account-item .form-group .form-check .form-check-input {
  margin-top: 3px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.account-area .account-item .common-btn {
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.account-area .account-item a {
  color: #35405c;
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.account-area .account-item a:hover {
  color: #20bdd1;
}

.appointment-area.two {
  background-color: #fff;
}

.appointment-area.two .appointment-content {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  padding-left: 15px;
}

.appointment-area.two .appointment-content .form-group .form-control {
  border-bottom: 0;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding-left: 15px;
}

.appointment-area.two .appointment-img-two {
  margin-bottom: 30px;
}

.appointment-area.two .appointment-img-two.left:nth-child(1) img {
  margin-top: 45px;
}

.faq-area.two {
  background-image: unset;
}

.faq-area.two .faq-item {
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.faq-area.two .faq-item .accordion li .faq-head {
  background-color: #d8f6fb;
  padding: 10px 25px 10px 40px;
  border-radius: 5px;
}

.faq-area.two .faq-item .accordion li .faq-head:after {
  top: 4px;
}

.faq-area.two .faq-item .accordion li .faq-head span {
  top: 4px;
}

/*----- Error -----*/
.error-area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  text-align: center;
}

.error-area .error-content i {
  color: #20bdd1;
  display: inline-block;
  font-size: 100px;
}

.error-area .error-content h1 {
  font-size: 130px;
  color: #20bdd1;
  margin-bottom: 20px;
}

.error-area .error-content h2 {
  font-size: 25px;
  color: #02123a;
  margin-bottom: 10px;
}

.error-area .error-content p {
  margin-bottom: 20px;
  font-weight: 500;
}

/*----- Privacy Policy -----*/
.rules-area .top {
  text-align: center;
  margin-bottom: 50px;
}

.rules-area .top h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.rules-area .top span {
  display: block;
  font-weight: 500;
}

.rules-area .inner {
  margin-bottom: 25px;
}

.rules-area .inner:last-child {
  margin-bottom: 0;
}

.rules-area .inner h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.rules-area .inner p {
  margin-bottom: 8px;
}

.rules-area .inner p:last-child {
  margin-bottom: 0;
}

.rules-area .inner ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.rules-area .inner ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.rules-area .inner ul li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 7px;
  left: 0;
  background-color: #02123a;
}

.rules-area .inner ul li:last-child {
  margin-bottom: 0;
}

.pagination-area {
  text-align: center;
}

.pagination-area ul {
  margin: 0;
  padding: 0;
}

.pagination-area ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.pagination-area ul li a {
  display: block;
  font-weight: 500;
  color: #fff;
  background-color: #20bdd1;
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 16px;
}

.pagination-area ul li a:hover, .pagination-area ul li a.active {
  color: #fff;
  background-color: #02123a;
}
/*# sourceMappingURL=style.css.map */