@import 'src/style/mixins';

.course {
	// padding: $inner / 2;
	background-color: #333;

	// @include viewport-sm {
		// padding: $inner / 4;
	// }

	&__img {
		&:hover &-overlay {
			visibility: visible !important;
		}
		&-overlay {
			// @extend %position-top-left;
			z-index: 1;
			span {
				$space: 4.5rem;
				width: $space;
				height: $space;
				line-height: $space;
				font-size: 1.8rem;
				background-color: rgba(51, 51, 51, 0.75);
			}
		}
	}
	&__btn {
		padding: 0.75rem 5rem;
		font-size: 1.6rem;
		background-color: #ed2a26;
	}
	&_heading {
		position: relative;
		// margin: $inner / 3 0;
		overflow: hidden;
		font-size: 2.5rem;
		&::after {
			content: '';
			// @extend %position-center-y;
			width: 100%;
			height: 1px;
			// margin-left: $inner / 3;
			// background-color: $primaryColor;
			transform: translateZ(0);
		}
	}
	&_tabs {
		// padding-top: $inner / 2;
		// @include viewport-sm {
			// padding-top: $inner / 4;
		// }
		&__item {
			&--active {
				// border-bottom: 2px solid $primaryColor;
			}
		}
	}
}
