<div class="detail_heading py-5">
    <div class="container-main">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/']">{{ 'lblHome' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item" *ngIf="data.parent_name && data.parent_name != ''">
                        <a [routerLink]="['/' + data.parent_link]">
                            {{ data.parent_name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.page_name && data.page_name != ''">
                        <a [routerLink]="['/' + data.page_link]">
                            {{ data.page_name }}
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="page">
    <div class="container-main">
        <div class="container-fluid">
            <div class="course">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="rounded-lg course__img bg-white p-3 text-center position-relative">
                            <img class="mw-100 rounded-lg" [alt]="data.name" [lazyLoad]="data.images"
                                [defaultImage]="defaultImage" />
                            <div class="course__img-overlay invisible flex-center w-100 h-100">
                                <a [href]="data.link_video" data-fancybox>
                                    <span class="d-inline-block rounded-circle text-center text-white color">
                                        <i class="fal fa-play"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 mt-4 mt-md-0">
                        <h2 class="text-white font-weight-bold">{{ data.name }}</h2>
                        <div class="text-white mt-4" id="page-detail" [innerHTML]="data.info | sanitizeHtml"></div>

                        <p class="d-flex text-white mt-4">
                            <span><i class="far fa-eye mr-2"></i>{{ data.views }}</span>

                            <span class="ml-5">
                                {{ globals.time.calculateDiff(data.maker_date) }}
                                {{ 'FEProduct.days_ago' | translate }}
                            </span>
                        </p>

                        <button class="course__btn btn text-white mt-4" (click)="enableFormRegisterCourse(4)">
                            {{ 'FEbtn.register_now' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="course_tabs text-center">
                    <span (click)="activeTab=1" [ngClass]="{'course_tabs__item--active': activeTab != 2}"
                        class="course_tabs__item cursor-pointer font-weight-bold d-inline-block p-2">
                        {{ 'FEProduct.content' | translate }}
                    </span>
                    <span (click)="activeTab=2" [ngClass]="{'course_tabs__item--active': activeTab == 2}"
                        class="course_tabs__item cursor-pointer font-weight-bold d-inline-block p-2 ml-5">
                        {{ 'FEProduct.evaluate' | translate }}
                    </span>
                </div>
                <div class="bg-light p-3 p-md-5">
                    <div *ngIf="activeTab != 2" id="page-detail" [innerHTML]="data.detail | sanitizeHtml"></div>
                    <div *ngIf="activeTab == 2">
                        <app-comment></app-comment>
                    </div>
                </div>
            </div>
            <div *ngIf="data.related?.length">
                <div class="course_heading color text-capitalize font-weight-bold" translate>
                    FECourse.related
                </div>
                <div class="row scroll-sm">
                    <div class="col-md-3 col-9" *ngFor="let item of data.related | slice: 0:4">
                        <app-box-product [input]="item"></app-box-product>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>