<section class="testimonials-area ptb-100">
    <div class="testimonials-img">
        <img src="assets/images/testimonials-main1.png" alt="Testimonials">
    </div>
    <div class="container">
        <div class="section-title">
            <div class="top">
                <span class="top-title">Testimonials</span>
                <span class="sub-title">Testimonials</span>
            </div>
            <h2>What Our Patients Say About Us</h2>
        </div>
        <div class="testimonials-slider owl-theme owl-carousel">
            <app-box-sayAboutUs></app-box-sayAboutUs>
            <app-box-sayAboutUs></app-box-sayAboutUs>
            <app-box-sayAboutUs></app-box-sayAboutUs>
        </div>
    </div>
</section>