<div class="about-area">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/images/about/main1.png" alt="About">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <div class="top">
                            <span class="top-title">About Us</span>
                            <span class="sub-title">About Us</span>
                        </div>
                        <h2>We Are Caring For Your Eye Health Hospital</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <ul>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Conducts eye health checkups
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Best lasik treatment
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Treats minor illnesses
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <ul>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Special eye exam
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Contact lens service
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Special Retina exam
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="common-btn" href="about.html">
                        <span class="one"></span>
                        <span class="two"></span>
                        More About Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>