<form [formGroup]="fm" *ngIf="fm" (submit)="$event.stopPropagation()">
    <div class="card w-100">
        <div class="card-header">
            <strong>
                {{ ((id && id != 0) ? 'brand.update' : 'brand.add' ) | translate: { name : fm.value.name } }}
            </strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="name">
                                {{ 'lblName' | translate }}
                                <span class="ml-2 text-danger">*</span>
                            </label>
                            <input type="text" autocomplete="off" class="form-control" required name="name" id="name"
                                formControlName="name">
                            <small *ngIf="!fm.get('name').valid && fm.get('name').touched" style="color:red">
                                {{ 'message.required' | translate }}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="orders">
                                {{ 'lblOrders' | translate }}
                            </label>
                            <input type="number" min="0" class="form-control" name="orders" id="orders"
                                autocomplete="off" formControlName="orders" />
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label for="note">
                                {{ 'lblNote' | translate }}
                            </label>
                            <textarea formControlName="note" rows="1" id="note" class="form-control"
                                placeholder="{{ 'lblNote' | translate }}" style="height: 115px;"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">
                        {{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate }}
                    </span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">
                {{'btn.save' | translate }}
            </button>
            <button type="button" [routerLink]="[ (id && id != 0) ? '../../get-list' : '../get-list' ]"
                class="btn btn-primary mr-2 float-right">
                {{ 'btn.back' | translate }}
            </button>
        </div>
    </div>
</form>