<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <div class="top">
                <span class="top-title">Services</span>
                <span class="sub-title">Services</span>
            </div>
            <h2>Opnix Eye Care Services</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
            <div class="col-sm-6 col-lg-4">
                <app-box-services></app-box-services>
            </div>
        </div>
    </div>
</section>