<!-- <div class="container-main">
    <div class="not_found text-center">
        <h2 class="fa-8x font-weight-bold">{{ 'notFound.title' | translate }}</h2>

        <h4>{{ 'notFound.message' | translate }}</h4>

        <a class="not_found__btn btn btn-outline-danger mt-4 px-4" [routerLink]="['/']">
            {{ 'notFound.reHome' | translate }}
        </a>
    </div>
</div> -->

<div class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <i class='bx bxs-sad bx-flashing'></i>
                    <h1>Sorry!</h1>
                    <h2>Here Is Some Problem</h2>
                    <p>The page you are looking for it maybe deleted</p>
                    <a class="common-btn" href="index-2.html">Go To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>