// @import 'src/style/mixins';
// @import 'src/style/animations';

// .header {
//     position: relative;
//     z-index: 2;

//     box-shadow: 0 5px 5px -5px rgb(9 30 66 / 10%);

//     &--fixed {
//         position: fixed;
//         width: 100vw;
//         top: 0;
//         left: 0;
//         // border-bottom: $borderHeader solid $primaryColor;
//         // z-index: $secondary-zIndex;
//     }
//     &--fixed &-inner {
//         // @include viewport-lg {
//             // padding: #{$innerHeader / 3} 0;
//         // }
//     }
//     &-inner {
//         // padding: $innerHeader 0;
//         transition: 0.25s ease-out;
//         // @include viewport-md {
//             // padding: $innerHeader;
//         // }
//         // @include viewport-sm {
//             // padding: $innerHeader / 3 0;
//         // }
//     }
//     &__logo {
//         // width: $w-logo;
//         // height: $h-logo;
//     }
//     &_search {
//         // padding: $itemNav 0 $itemNav $itemNav * 2;

//         &__icon {
//             // width: $itemNav;
//         }
        
//         &__input {
//             top: 5rem;
//             right: 0;

//             input {
//                 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
//             }
//         }
//     }
//     .hamburger {
//         width: 2.25rem;
//         height: 1.75rem;
//         ~ span {
//             font-size: 10px;
//         }
//         > span {
//             left: 0;
//             height: 1px;
//             opacity: 1;
//             transition: 0.25s ease-in-out;
//             &:nth-child(1) {
//                 top: 0;
//             }
//             &:nth-child(2) {
//                 top: 0.5rem;
//             }
//             &:nth-child(3) {
//                 top: 1rem;
//             }
//         }
//         &--open > span {
//             &:nth-child(1) {
//                 top: 0.5rem;
//                 transform: rotate(135deg);
//             }
//             &:nth-child(2) {
//                 opacity: 0;
//                 left: -1.5rem;
//             }
//             &:nth-child(3) {
//                 top: 0.5rem;
//                 transform: rotate(-135deg);
//             }
//         }
//     }
//     &_user {
//         // margin-left: $itemNav * 2;
//         // padding: $itemNav 0;
//         &__icon {
//             $icon: 2.75rem;
//             width: $icon;
//             height: $icon;
//             line-height: $icon;
//         }
//         &:hover &__dropdown {
//             visibility: visible !important;
//         }
//         &__dropdown {
//             min-width: 12rem;
//             top: 3.5rem;
//             // @extend %position-center-x;
//             // box-shadow: $primaryShadow;
//             button {
//                 font-size: 14px;
//             }
//         }
//     }
// }

// .menu {
//     top: 0;
//     left: 0;

//     &-main {
//         animation: menu 0.67s cubic-bezier(0.075, 0.82, 0.165, 1);
//     }
// }
