<div class="card w-100">
    <div class="card-header">
        <strong>{{'user.titleList' | translate }}</strong>
        <div class="float-md-right d-flex">
            <button class="btn btn-sm btn-success text-nowrap mr-4" type="button" (click)="handleExportClick()">
                Export to Excel
            </button>
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value" class="form-control"
                    placeholder="{{'search.lblList'|translate}}">
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let col of cwstable.cols" (click)="cwstable._sorting(col.field)"
                    [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{col.title | translate }}</span>
                        <i *ngIf="cwstable.sorting.field==col.field" class="fa"
                            [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cwstable.data; let i= index">
                <td *ngFor="let col of cwstable.cols" [ngClass]="{ 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchCase="'index'">{{ i + 1 }}</span>
                        <div *ngSwitchCase="'avatar'">
                            <img style="width:50px;"
                                [src]="(item[col.field] && item[col.field].length > 3) ? globals.BASE_API_URL+'public/avatar/'+item[col.field] : ''" />
                        </div>
                        <span *ngSwitchCase="'maker_date'">
                            {{ item[col.field]| date: 'dd/MM/yyyy' }}
                        </span>
                        <span *ngSwitchCase="'type'">
                            {{ (item[col.field] == 0 ? 'user.admin' : (item[col.field] == 1 ? 'user.teacher' :
                            'user.academic')) | translate }}
                        </span>
                        <span *ngSwitchCase="'action'" class="display-action">
                            <button class="btn btn-link btn-sm text-info" *ngIf="processUpdate(+item.type, +item.id)"
                                (click)="globals.crypto.link('admin/user/changespassword', { id: item.id })">
                                <i class="fas fa-key"></i>
                            </button>
                            <button class="btn btn-link btn-sm" *ngIf="processUpdate(+item.type, +item.id)"
                                (click)="globals.crypto.link('admin/user/update', { id: item.id, type: item.type })">
                                <i class="fas fa-pencil-alt text-dark"></i>
                            </button>
                            <button class="btn btn-link btn-sm text-danger" *ngIf="processRemove(+item.type, +item.id)"
                                (click)="onRemove(item.id , item.name)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </span>
                        <span *ngSwitchDefault>{{item[col.field]}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of
                {{ cwstable.settings.total }}</span>
            <span>
                <a (click)="cwstable._previousnext(false)" style="padding : 3px 5px;" class="cursor-pointer">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="cwstable._previousnext(true)" style="padding : 3px 5px;" class="cursor-pointer">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="fixed-action-btn text-center" *ngIf="loggedType !== 1">
    <a [routerLink]="['../insert']" class="text-white text-decoration-none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>