@import 'src/style/mixins';

.products {
  &-list {
    &__item {
      // margin-bottom: $innerPage;
      // @include viewport-sm {
        // margin-bottom: $innerPage / 2;
      // }
    }
  }
  &-filter {
    // margin-bottom: $innerPage;
  }
  &-filter-sm {
    // top: #{$innerHeader / 1.5 + $h-logo};
    background-color: rgba(0, 0, 0, 0.5);
  }
}
