// @keyframes shineBefore {
//     to {
//         left: 100%;
//     }
// }

// @keyframes slideUp {
//     0% {
//         opacity: 0;
//         transform: translateY(75px);
//     }

//     60% {
//         opacity: 0;
//         transform: translateY(37.5px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

// @keyframes slideDown {
//     0% {
//         opacity: 0;
//         transform: translateY(-50px);
//     }

//     60% {
//         opacity: 0;
//         transform: translateY(-25px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
@keyframes sidebar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
// @keyframes rubberBand {
//     from {
//         transform: scale3d(1, 1, 1);
//     }

//     30% {
//         transform: scale3d(1.25, 0.75, 1);
//     }

//     40% {
//         transform: scale3d(0.75, 1.25, 1);
//     }

//     50% {
//         transform: scale3d(1.15, 0.85, 1);
//     }

//     65% {
//         transform: scale3d(0.95, 1.05, 1);
//     }

//     75% {
//         transform: scale3d(1.05, 0.95, 1);
//     }

//     to {
//         transform: scale3d(1, 1, 1);
//     }
// }

// @keyframes menu {
//     0% {
//         opacity: 0;
//         transform: translateX(-100%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

// @keyframes header {
//     0% {
//         transform: translateY(-100%);
//     }
// }

// @keyframes social-01 {
//     25% {
//         opacity: 0;
//     }
//     to {
//         bottom: 0;
//         right: 5em;
//         opacity: 1;
//     }
// }
// @keyframes social-02 {
//     25% {
//         opacity: 0;
//     }
//     to {
//         bottom: 2.5em;
//         right: 4em;
//         opacity: 1;
//     }
// }
// @keyframes social-03 {
//     25% {
//         opacity: 0;
//     }
//     to {
//         bottom: 4.5em;
//         right: 2.5em;
//         opacity: 1;
//     }
// }
// @keyframes social-04 {
//     25% {
//         opacity: 0;
//     }
//     to {
//         bottom: 6em;
//         right: 0;
//         opacity: 1;
//     }
// }
// @keyframes video-circle-anim {
//     0% {
//         transform: rotate(0) scale(0.5) skew(1deg);
//         opacity: 0.1;
//     }
//     30% {
//         transform: rotate(0) scale(0.7) skew(1deg);
//         opacity: 0.5;
//     }
//     100% {
//         transform: rotate(0) scale(1.2) skew(1.2deg);
//         opacity: 0.1;
//     }
// }
