// // Variables
// $primaryFont: 'SF Pro Display';
// $primaryFontBold: 'SF Pro Display Bold';
// $primaryColor: #f0c117 !important;
// $headingColor: #273342;
// $descColor: #8c9099;
// $textColor: #000;
// $secondaryColor: #fefefe;
// $productColor: #686f7a;
// $colorBreadcrumb: #8ed1dc;
// $bgBreadcrumb: #0b3955;

// $w-container: 1170px;
$w-scrollbar: 8px;
// $w-logo: 18rem;
// $h-logo: 6rem;
// $inner: 7.5rem;
// // $innerHeader: 3rem;
// $innerHeader: 1.5rem;
// $itemNav: 1.6rem;
// $innerPage: 2rem;
// $primaryShadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
// $borderHeader: 0.3rem;
// $primary-zIndex: 990;
// $secondary-zIndex: 980;

// // Responsive
// $w-sm: 425px;
// $w-md: 768px;
// $w-lg: 1024px;
// @mixin viewport-lg {
//     @media (min-width: #{$w-md + 1}) {
//         @content;
//     }
// } // min 769
// @mixin viewport-md {
//     @media (max-width: $w-md) {
//         @content;
//     }
// } // max 768
// @mixin viewport-sm {
//     @media (max-width: $w-sm) {
//         @content;
//     }
// } // max 425

// // @font-face {
// //     font-family: $primaryFont;
// //     font-display: swap;
// //     src: url(../assets/fonts/SF_Pro_Potopath.ttf);
// //     // src: url(../assets/fonts/sf-pro-display_regular.woff2);
// // }
// // text truncate
// $lines: 2, 3;
// @each $line in $lines {
//     %text-truncate-#{$line} {
//         -webkit-line-clamp: $line;
//         display: -webkit-box;
//         -webkit-box-orient: vertical;
//         overflow: hidden;
//     }
// }
// @mixin position($w, $h, $t, $r, $b, $l, $z) {
//     content: '';
//     position: absolute;
//     width: $w;
//     height: $h;
//     top: $t;
//     right: $r;
//     bottom: $b;
//     left: $l;
//     z-index: $z;
// }
// %position-center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
// %position-center-x {
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
// }
// %position-center-y {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
// }
// %position-top-left {
//     position: absolute;
//     top: 0;
//     left: 0;
// }
// %inner {
//     padding: $inner 0;
//     @include viewport-sm {
//         padding: #{$inner / 1.5} 0;
//     }
// }
// %inner-child {
//     padding-top: #{$inner / 2};
//     @include viewport-sm {
//         padding-top: #{$inner / 3};
//     }
// }
// %h-slide {
//     height: calc(100vh - #{$innerHeader * 2 + $h-logo});
//     @include viewport-sm {
//         height: 21rem;
//     }
// }
