@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
// @import 'mixins';
// @import 'animations';

:root {
    // --primaryColor: #{$primaryColor};
}

// // html {
// //     font-size: 62.5%; // 1rem = 10px
// // }
// // body {
// //     width: 100%;
// //     overflow-x: hidden;
// //     // font-family: $primaryFont;
// //     font-size: 1.6rem;
// //     scroll-behavior: smooth;
// // }
// // img {
// //     object-fit: cover;
// //     // &:not([alt], [width], [height]) {
// //     //   border: 4px solid red;
// //     // }
// // }
// .app-body {
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     .h1,
//     .h2,
//     .h3,
//     .h4,
//     .h5,
//     .h6,
//     .breadcrumb,
//     p,
//     figure,
//     .form-group,
//     label,
//     select,
//     ul,
//     ol,
//     dl {
//         margin-bottom: 0;
//     }
// }
// .container-main {
//     max-width: $w-container;
//     margin: 0 auto;
// }
// .is--active,
// .color {
//     color: $primaryColor;
// }
// .bg {
//     background-color: $primaryColor;
// }
// .cursor-pointer {
//     cursor: pointer;
// }
// a {
//     transition: 0.25s;
// }
// .flex-center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .grid-center {
//     display: grid;
//     place-items: center;
// }
// .scroll-sm {
//     @include viewport-sm {
//         flex-wrap: nowrap !important;
//         overflow: auto;
//         padding-bottom: 0.5rem;
//         &::-webkit-scrollbar {
//             height: 0;
//         }
//     }
// }
// font {
//     background-color: transparent !important;
//     box-shadow: none !important;
// }
// input:focus {
//     outline: 0;
// }
// button:focus,
// .btn:focus {
//     // outline: 0;
//     box-shadow: none;
// }

// #page-detail {
//     overflow: hidden;
//     *:not(img, iframe, [class^='fa']) {
//         // font-family: $primaryFont !important;
//     }
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         margin-bottom: 0.5rem;
//     }
//     p {
//         margin-bottom: 1rem;
//     }
//     img,
//     iframe {
//         max-width: 100%;
//     }
// }

// .office {
//     padding: 2rem 0;
//     font-size: 1.4rem;
//     [class^='fa'] {
//         margin-right: 2.5px;
//         color: #a2a2a2;
//     }
//     a {
//         color: #dcdce5;
//     }
// }

// .slide {
//     &-container {
//         .owl-carousel.owl-theme {
//             .owl-nav {
//                 .owl-prev,
//                 .owl-next {
//                     opacity: 0.33;
//                     margin: 0 4.6875rem !important;

//                     @include viewport-sm {
//                         margin: 0 0.5rem !important;

//                         > img {
//                             max-width: 60%;
//                         }
//                     }
//                 }
//                 .owl-prev:hover,
//                 .owl-next:hover {
//                     opacity: 1;
//                 }
//             }
//             .owl-dots {
//                 right: 5%;
//                 bottom: 5%;
//                 .owl-dot {
//                     &.active span,
//                     &:hover span {
//                         background-color: $primaryColor;
//                     }
//                     span {
//                         $dotSizeSlide: 1.4rem;
//                         width: $dotSizeSlide;
//                         height: $dotSizeSlide;
//                     }
//                 }
//             }
//         }

//         .active .slide__desc {
//             animation: slideUp 0.67s ease-out;
//         }
//         .active .slide__title {
//             animation: slideUp 1s ease-out;
//         }
//         .active .slide__btn {
//             animation: slideDown 1.67s ease-out;
//         }
//     }
// }

// .news,
// .banner {
//     .owl-carousel.owl-theme .owl-dots {
//         left: 50%;
//         transform: translateX(-50%);
//         bottom: -25px;

//         .owl-dot {
//             &.active span {
//                 background-color: $primaryColor;
//                 width: 2.5rem;
//             }
//             span {
//                 $dotSizeSlide: 1.4rem;
//                 width: 1.75rem;
//                 border-radius: 1rem;
//                 transition: 0.25s ease-out;
//             }
//         }
//     }
// }

// .breadcrumb {
//     $padding: 1rem;

//     &-inner {
//         background-color: $bgBreadcrumb;
//     }

//     &-item {
//         a,
//         span {
//             color: $colorBreadcrumb;
//         }
//         & + & {
//             padding-left: $padding;
//             &::before {
//                 padding-right: $padding;
//                 color: $colorBreadcrumb;
//             }
//         }
//     }
// }

// .detail {
//     &_heading {
//         background-color: #0b3955;
//         .breadcrumb-item > a {
//             color: #8ed1dc;
//         }
//     }
// }

// .page {
//     padding: $innerPage 0;
//     min-height: calc(100vh - 90px);
// }

// .news .owl-stage {
//     padding-bottom: 0.5rem;
//     @include viewport-sm {
//         .owl-item {
//             width: 280px !important;
//         }
//     }
// }

// .news .owl,
// .partner .owl {
//     &-prev,
//     &-next {
//         opacity: 0.5;
//         &:hover {
//             opacity: 1;
//         }
//     }
//     $owlNavPartner: -5rem !important;
//     &-prev {
//         margin-left: $owlNavPartner;
//     }
//     &-next {
//         margin-right: $owlNavPartner;
//     }
// }

// .news-mostview__list,
// .news-detail-related__list {
//     .box {
//         &__img {
//             height: 75px !important;
//         }
//         &__title {
//             font-size: 14px;
//             height: 38px !important;
//         }
//         &__description {
//             display: none !important;
//         }
//     }
// }

// .news-mostview {
//     @include viewport-sm {
//         margin-top: 2rem;
//     }
// }

// select {
//     background-image: url(../assets/img/icon-select-down.png);
//     background-repeat: no-repeat;
//     background-position: 99% 50%;
//     appearance: none;
// }

// .news {
//     &-mostview {
//         top: #{($innerHeader / 3) * 2 + $h-logo + $borderHeader + $innerPage};

//         &__list {
//             padding: 10px 10px 0;
//         }
//     }
// }
