<div class="card">
    <div class="card-header" style="cursor: pointer;">
        <strong>{{'score.titleStudent' | translate : {name : name} }}</strong>
        <div class="float-md-right d-flex">
            <ng-template [ngIf]="isViewMode">
                <button class="btn btn-sm btn-success text-nowrap mr-4" type="button" (click)="exportExcel()">
                    Export to Excel
                </button>
            </ng-template>
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value" class="form-control"
                    placeholder="{{'search.lblList'|translate}}">
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="cstable.sorting.field==col.field" class="fa ml-1"
                                [ngClass]="{ 'fa-long-arrow-down' : cstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cstable.data; let i = index">
                    <td *ngFor="let col of cstable.cols" [ngClass]="{ 'd-none' : col.show==false}">
                        <div [(ngSwitch)]="col.field">
                            <div *ngSwitchCase="'index'">
                                {{ i + 1 }}
                            </div>
                            <div *ngSwitchCase="'name'">
                                {{ item[col.field] }}
                            </div>
                            <!-- <div *ngSwitchCase="'score'">
                                <input type="text" class="form-control" name="score" [id]="'score' + item.id"
                                    autocomplete="off" [isEN]='true' symbolDecimal [(ngModel)]="item.score"
                                    [ngModelOptions]="{standalone: true}" style="width: 50px;"
                                    (change)="score._change(i)" (focusout)="score._fomat(i)"
                                    [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 bg-transparent h-auto p-0'" />
                            </div> -->
                            <!-- <div *ngSwitchCase="'note'">
                                <textarea name="note" id="note" rows="1" [(ngModel)]="item.note"
                                    (change)="score._change(i)" style="border: 1px solid #ced4da;
                                height: 38px; border-radius: 4px;" [ngModelOptions]="{standalone: true}"
                                    [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 bg-transparent p-0'"
                                    [style.resize]="isViewMode && 'unset'"></textarea>
                            </div> -->
                            <!-- <div *ngSwitchCase="'status_pass'"
                                [ngClass]="+item.score >= +item.score_pass ? 'text-success' : 'text-danger'">
                                {{( item.score && +item.score >= 0 ? (+item.score >= +item.score_pass ? 'score.pass':
                                'score.noPass' ) : '') | translate}}
                            </div> -->
                            <!-- {{ +item.is_attendance ? '' : 'Không đạt' }} -->
                            <div *ngSwitchCase="'is_attendance'">
                                <!-- <div class="custom-control custom-checkbox mb-2">
                                    <input type="checkbox" class="custom-control-input"
                                    [id]="'attendance-' + item.student_id" [checked]="+item.is_attendance"
                                    (change)="$event.target.checked ? (item.is_attendance = '1') : (item.is_attendance = '0'); score._change(i)"
                                    [disabled]="isViewMode">
                                    <label class="custom-control-label cursor-pointer user-select-none"
                                    [attr.for]="'attendance-' + item.student_id">
                                    </label>
                                </div> -->
                                <ng-template [ngIf]="!isViewMode">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" [id]="'is_attendance_1_' + i" class="custom-control-input"
                                            value="1" [checked]="item.is_attendance && +item.is_attendance === 1"
                                            (change)="$event.target.checked && (item.is_attendance = '1'); score._change(i)">
                                        <label class="custom-control-label cursor-pointer user-select-none"
                                            [for]="'is_attendance_1_' + i"
                                            [class.text-success]="+item.is_attendance === 1">
                                            Đạt
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" [id]="'is_attendance_0_' + i" class="custom-control-input"
                                            value="0" [checked]="item.is_attendance && +item.is_attendance === 0"
                                            (change)="$event.target.checked && (item.is_attendance = '0'); score._change(i)">
                                        <label class="custom-control-label cursor-pointer user-select-none"
                                            [for]="'is_attendance_0_' + i"
                                            [class.text-danger]="+item.is_attendance === 0 && item.is_attendance !== null">
                                            Không đạt
                                        </label>
                                    </div>
                                </ng-template>
                                <span *ngIf="isViewMode"
                                    [ngClass]="+item.is_attendance === 1 ? 'text-success' : (+item.is_attendance === 0 ? 'text-danger' : '')">
                                    {{ +item.is_attendance === 1 ? 'Đạt' : (item.is_attendance && +item.is_attendance === 0 ? 'Không đạt' :
                                    '') }}
                                </span>
                                <!-- <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="female" name="sex" class="custom-control-input" formControlName="sex" value="0">
                                        <label class="custom-control-label cursor-pointer" for="female">
                                            {{'user.female' | translate }}</label>
                                    </div> -->
                            </div>
                            <div *ngSwitchCase="'score_factor_1'">
                                <input type="number" class="form-control" name="score_factor_1" id="score_factor_1"
                                    autocomplete="off" [(ngModel)]="item.score_factor_1"
                                    [ngModelOptions]="{standalone: true}" style="width: 50px;"
                                    (change)="score._change(i)" [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 shadow-none bg-transparent h-auto p-0'"
                                    min="0" max="10" />
                            </div>
                            <div *ngSwitchCase="'score_factor_2'">
                                <input type="number" class="form-control" name="score_factor_2" id="score_factor_2"
                                    autocomplete="off" [(ngModel)]="item.score_factor_2"
                                    [ngModelOptions]="{standalone: true}" style="width: 50px;"
                                    (change)="score._change(i)" [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 shadow-none bg-transparent h-auto p-0'"
                                    min="0" max="10" />
                            </div>
                            <div *ngSwitchCase="'graduation_condition'">
                                <div style="width: 137px;" [ngClass]="handleGraduationCondition(item.is_attendance, +item.score_factor_1,
                                    +item.score_factor_2, i) ? 'text-success' : 'text-danger'">
                                    {{ isGraduationCondition === 1 ? 'Đủ điều kiện' :
                                    (isGraduationCondition === 0 ? 'Không đủ điều kiện' : '') }}
                                </div>
                            </div>

                            <div *ngSwitchCase="'is_discipline'">
                                <ng-template [ngIf]="!isViewMode">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" [id]="'is_discipline_1_' + i" class="custom-control-input"
                                            value="1" [checked]="item.is_discipline && +item.is_discipline === 1"
                                            (change)="$event.target.checked && (item.is_discipline = '1'); score._change(i)"
                                            [disabled]="isViewMode || isGraduationCondition !== 1">
                                        <label class="custom-control-label cursor-pointer user-select-none"
                                            [for]="'is_discipline_1_' + i"
                                            [class.text-danger]="+item.is_discipline === 1">
                                            Có
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" [id]="'is_discipline_0_' + i" class="custom-control-input"
                                            value="0" [checked]="item.is_discipline && +item.is_discipline === 0"
                                            (change)="$event.target.checked && (item.is_discipline = '0'); score._change(i)"
                                            [disabled]="isViewMode || isGraduationCondition !== 1">
                                        <label class="custom-control-label cursor-pointer user-select-none"
                                            [for]="'is_discipline_0_' + i"
                                            >
                                            Không
                                        </label>
                                    </div>
                                </ng-template>

                                <span *ngIf="isViewMode" [class.text-danger]="+item.is_discipline === 1">
                                    {{ +item.is_discipline === 1 ? 'Có' : (item.is_discipline && +item.is_discipline === 0 ? 'Không' : '') }}
                                </span>
                            </div>

                            <div *ngSwitchCase="'score_1'">
                                <input type="text" class="form-control" name="score_1" id="score_1" autocomplete="off"
                                    [(ngModel)]="item.score_1" [ngModelOptions]="{standalone: true}"
                                    style="width: 50px;" (change)="score._change(i)"
                                    [disabled]="isGraduationCondition !== 1 || (item.score_2 && +item.score_2 >= 0)"
                                    [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 shadow-none bg-transparent h-auto p-0'"
                                    min="0" max="10" />
                            </div>
                            <div *ngSwitchCase="'score_2'">
                                <input type="text" class="form-control" name="score_2" id="score_2" autocomplete="off"
                                    [(ngModel)]="item.score_2" [ngModelOptions]="{standalone: true}"
                                    style="width: 50px;" (change)="score._change(i)"
                                    [disabled]="handleDisableScore2(item.score_1, item.score_2, item.score_avg, item.is_pass)"
                                    [attr.readonly]="isViewMode ? '' : null"
                                    [ngClass]="isViewMode && 'border-0 rounded-0 shadow-none bg-transparent h-auto p-0'"
                                    min="0" max="10" />
                            </div>

                            <div *ngSwitchCase="'score_avg'">
                                <!-- <ng-template [ngIf]="isGraduationCondition !== 1"> -->
                                {{ handleScoreAVG(item.score_1, item.score_2, i) }}
                                <!-- </ng-template> -->
                            </div>

                            <div *ngSwitchCase="'is_pass'">
                                <!-- <ng-template [ngIf]="isGraduationCondition"> -->
                                <span [ngClass]="handlePass(item.is_discipline, item.score_1, item.is_attendance, i) ? 'text-success' : 'text-danger'">
                                    <!-- {{ isPass ? 'Qua môn' : 'Rớt môn' }} -->
                                    {{ isPass === 1 ? 'Qua môn' : (isPass === 0 ? 'Rớt môn' : '') }}
                                </span>
                                <!-- </ng-template> -->
                            </div>

                            <div *ngSwitchDefault>{{item[col.field]}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="cstable.data.length == 0">
                <tr>
                    <td colspan="11" class="text-center text-danger pt-3">Lớp chưa có sinh viên!</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}</span>
            <span>
                <a (click)="cstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="cstable._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
        <div>
            <button *ngIf="score.save && !isViewMode" type="button" (click)="onSubmit()"
                class="btn btn-success float-right">
                {{ 'btn.save' | translate }}
            </button>
            <button type="button" (click)="score._back()" class="btn btn-secondary float-right mr-2">
                {{ 'btn.back' | translate }}
            </button>
        </div>
    </div>
</div>