<div class="row">
    <div class="col-md-3 pr-md-0">
        <div class="card position-sticky">
            <div class="card-header">
                <strong>{{'products.titleGroup' | translate }}</strong>
            </div>
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th *ngFor="let col of cstableCourse.cols" (click)="cstableCourse._sorting(col.field)"
                            [ngClass]="{ 'sorting' : cstableCourse.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                            <div [(ngSwitch)]="col.field">
                                <div *ngSwitchCase="'action'" class="text-right">{{col.title | translate }}</div>
                                <span *ngSwitchDefault>{{col.title | translate }}</span>
                                <i *ngIf="cstableCourse.sorting.field==col.field" class="fa"
                                    [ngClass]="{ 'fa-long-arrow-down' : cstableCourse.sorting.sort=='asc' , 'fa-long-arrow-up' : cstableCourse.sorting.sort=='desc' }"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover-row cursor-pointer" *ngFor="let item of cstableCourse.data;  let i = index"
                        (click)="course._active(item.id)" [ngClass]="{'activeRows': item.id == product_id}">
                        <td *ngFor="let col of cstableCourse.cols ;" [ngClass]="{ 'hide' : col.show==false }">
                            <div [(ngSwitch)]="col.field">
                                <div *ngSwitchCase="'index'" class="text-center">
                                    {{i + 1}}.
                                </div>
                                <span *ngSwitchDefault>{{item[col.field]}}</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="float-md-left">
                    <span>{{ cstableCourse.settings.first }} - {{ cstableCourse.settings.last }} of {{
                        cstableCourse.settings.total }}</span>
                    <span>
                        <a (click)="cstableCourse._previousnext(false)" style="padding : 3px 5px;"
                            class="cursor-pointer">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                        <a (click)="cstableCourse._previousnext(true)" style="padding : 3px 5px;"
                            class="cursor-pointer">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <form class="chips-form-bootrap" (submit)="$event.stopPropagation()">
            <div class="card w-100 mb-3">
                <div class="card-header">
                    <strong>
                        {{'class.listStudent' | translate : {name : class_name} }}
                    </strong>
                    <div class="float-md-right">
                        <div class="input-group input-group-sm">
                            <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value"
                                [ngModelOptions]="{standalone: true}" class="form-control"
                                placeholder="{{'search.lblList'|translate}}">
                        </div>
                    </div>
                </div>
                <div style="overflow-x:auto;">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                                    [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                                    <div [(ngSwitch)]="col.field">
                                        <div *ngSwitchDefault class="d-flex">
                                            <div>{{col.title | translate }}</div>
                                            <i *ngIf="cstable.sorting.field==col.field" class="fa ml-1"
                                                [ngClass]="{ 'fa-long-arrow-down' : cstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cstable.sorting.sort=='desc' }"></i>
                                        </div>
                                        <div *ngSwitchCase="'action'" class="d-flex">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    (change)="student._changeAll($event.target.checked)" id="checkAll"
                                                    [checked]="student._checkAll()" />
                                                <label class="custom-control-label user-select-none cursor-pointer"
                                                    for="checkAll">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cstable.data;let i = index">
                                <td *ngFor="let col of cstable.cols" [ngClass]="{ 'd-none' : col.show==false}">
                                    <div [(ngSwitch)]="col.field">
                                        <div *ngSwitchCase="'index'">
                                            {{ i + 1 }}
                                        </div>
                                        <div *ngSwitchCase="'action'">
                                            <div class="custom-control custom-checkbox mb-2">
                                                <input type="checkbox" class="custom-control-input"
                                                    [id]="'student-' + item.student_id" [checked]="item.is_videos"
                                                    (change)="item.is_videos = $event.target.checked">
                                                <label class="custom-control-label cursor-pointer"
                                                    [attr.for]="'student-' + item.student_id">
                                                </label>
                                            </div>
                                        </div>

                                        <div *ngSwitchDefault>{{item[col.field]}}</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="cstable.data.length == 0">
                            <tr class="text-center text-danger">
                                <td colspan="4">Chưa có học viên!</td>
                            </tr>
                    </table>

                    <div *ngIf="cstable.data?.length" class="border-top px-3 py-1">
                        <span>
                            {{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}
                        </span>
                        <span>
                            <a (click)="cstable._previousnext(false); scrollTop()" style="padding : 3px 5px;" class="cursor-pointer">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                            <a (click)="cstable._previousnext(true); scrollTop()" style="padding : 3px 5px;" class="cursor-pointer">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" (click)="onSubmit()" class="btn btn-success float-right"
                        *ngIf="cstable.data.length > 0">
                        {{'btn.save' | translate }}</button>

                    <button type="button" [routerLink]="['/admin/class/get-list']"
                        class="btn btn-secondary float-right mr-2">{{'btn.back' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>