<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header">
            <strong>{{ ((id && id!=0)?'field.update':'field.add') | translate:{name : fm.value.name} }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-0">
                    <div class="form-group">
                        <label>{{ 'field.name' | translate }} * </label>
                        <input type="text" autocomplete="off" class="form-control" required name="name"
                            formControlName="name" (keyup)="onChangeCode($event)">
                        <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                            style="color:red">{{'message.required'
                            | translate}}</small>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 pr-0">
                    <div class="form-group">
                        <label>{{ 'field.code' | translate }} * </label>
                        <input type="text" autocomplete="off" class="form-control" required name="code"
                            formControlName="code">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid"
                class="btn btn-success float-right">{{'btn.save'
                | translate }}</button>
            <button type="button" [routerLink]="['/admin/setting/field/get-list']"
                class="btn btn-primary mr-2  float-right">{{'btn.back'
                | translate }}</button>
        </div>
    </div>
</form>