@import 'src/style/mixins';

.news-detail {
  &-block {
    // padding: $innerPage / 2 $innerPage;

    // @include viewport-sm {
    //   // padding: $innerPage / 4 $innerPage / 2;
    // }
  }

  &__title {
    font-size: 20px;
  }

  &__desc {
    font-size: 15px;
    border-style: dashed !important;
  }

  &__tag {
    border-radius: 10px;

    &:hover {
      // border-color: $primaryColor;
      a {
        // color: $primaryColor;
      }
    }
  }

  &-related {
    // top: #{($innerHeader / 3) * 2 + $h-logo + $borderHeader + $innerPage};

    &__list {
      padding: 10px 10px 0;
    }
  }
}
