<div class="detail_heading py-5">
    <div class="container-main">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/']">{{ 'lblHome' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item" *ngIf="data.parent_name && data.parent_name != ''">
                        <a [routerLink]="['/' + data.parent_link]">
                            {{ data.parent_name }}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page" *ngIf="data.page_name && data.page_name != ''">
                        <a [routerLink]="['/' + data.page_link]">
                            {{ data.page_name }}
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="page bg-light">
    <div class="news-detail container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 pr-md-0">
                    <div class="news-detail-block bg-white">
                        <div class="d-flex justify-content-between small">
                            <span class="text-secondary">
                                <i class="far fa-folder-open mr-2"></i>{{ data.parent_name }}
                            </span>
                            <div>
                                <span class="text-secondary">
                                    <i class=" fas fa-eye mr-2"></i>{{ data.views }}
                                </span>
                                <span class="text-secondary ml-4">
                                    <i class="fas fa-calendar-alt mr-2"></i>{{data.maker_date |date:'dd-MM-yyyy'}}
                                </span>
                            </div>
                        </div>

                        <h1 class="news-detail__title font-weight-bold mt-4">{{ data.name }}</h1>

                        <p *ngIf="data.description && data.description !== ''"
                            class="news-detail__desc border mt-4 p-4 font-italic">{{ data.description }}</p>

                        <div *ngIf="data.detail && data.detail !== ''" class="mt-4"
                            [innerHTML]="data.detail | sanitizeHtml" id="page-detail">
                        </div>

                        <div class="mt-4 text-right" *ngIf="data.author && data.author !== ''">
                            <span class="font-weight-bold">{{ data.author }}</span>
                        </div>

                        <div class="d-flex mt-4" *ngIf="data.keywords && data.keywords.length > 0">
                            <i class="fas fa-tags mr-md-4 mr-2 text-secondary"></i>

                            <div class="d-inline-flex flex-wrap">
                                <div class="news-detail__tag border cursor-pointer px-3 mr-2 mb-2"
                                    *ngFor="let keyword of data.keywords" (click)="search.onSearch(keyword)">
                                    <a class="d-block small text-nowrap text-secondary text-decoration-none">
                                        {{ keyword }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white mt-4 p-4">
                        <app-comment></app-comment>
                    </div>
                </div>

                <!-- NEWS RELATED -->
                <div class="col-12 col-md-4">
                    <aside class="news-detail-related bg-white rounded-lg overflow-hidden position-sticky mt-4 mt-md-0">
                        <h4 class="bg p-3 text-uppercase text-center font-weight-bold" translate>
                            FEContents.relatednews
                        </h4>

                        <div class="news-detail-related__list">
                            <ng-container *ngIf="data.related && data.related.length > 0">
                                <box-content-grid class="d-block mb-4" *ngFor="let item of data.related | slice: 0:5"
                                    [input]="item">
                                </box-content-grid>
                            </ng-container>

                            <h4 *ngIf="!data.related" class="text-center py-5" translate>
                                lblUpdating
                            </h4>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>