.tilte {
    font-size: 18px;
    color: #164b97;
    border-bottom: 1px solid;
}

.btn-search {
    padding: 6px 20px;
    background-color: #115594;
}

.btn-search:focus {
    background-color: #0f416f;
}

.document {
    color: #0066b3;
}

table td {
    vertical-align: middle;
    cursor: pointer;
}

.color-50 {
    color: #000000bd;
}

select.form-control,
.input-search,
.btn-search {
    font-size: 1.6rem;
}
