<div class="testimonials-item">
    <div class="top">
        <img src="assets/images/testimonials1.jpg" alt="Testimonials">
        <h3>Lorisa Teara</h3>
        <span>Businessman</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ipsum suspendisse ultrices gravida. Risus commodo viverra
        maecenas accumsan lacus vel facilisis.</p>
    <ul>
        <li>
            <i class='bx bxs-star checked'></i>
        </li>
        <li>
            <i class='bx bxs-star checked'></i>
        </li>
        <li>
            <i class='bx bxs-star checked'></i>
        </li>
        <li>
            <i class='bx bxs-star checked'></i>
        </li>
        <li>
            <i class='bx bxs-star checked'></i>
        </li>
    </ul>
    <i class="flaticon-straight-quotes icon"></i>
</div>