<div class="page bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-baseline">
                                <small class="user__label font-weight-bold">
                                    {{ 'lblUser' | translate }}:
                                </small>
                                <h5 class="user__name ml-2">
                                    {{ globals.CUSTOMER.get().name }}
                                </h5>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 col-md-4">
                                    <a class="user-tab__btn btn btn-light btn-block text-left px-3 py-2"
                                        [routerLink]="['/user/hoc-vien']" routerLinkActive="is--active">
                                        <i class="user-tab__btn-icon far fa-id-card"></i>
                                        <span>
                                            {{ 'FECustomer.info' | translate }}
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-4">
                                    <a class="user-tab__btn btn btn-light btn-block text-left px-3 py-2"
                                        [routerLink]="['/user/lop-hoc']" routerLinkActive="is--active">
                                        <i class="user-tab__btn-icon far fa-users-class"></i>
                                        <span>
                                            {{ 'FECustomer.class' | translate }}
                                        </span>
                                    </a>
                                </div>
                                <div class="col-12 col-md-4">
                                    <a class="user-tab__btn btn btn-light btn-block text-left px-3 py-2"
                                        [routerLink]="['/user/doi-mat-khau']" routerLinkActive="is--active">
                                        <i class="user-tab__btn-icon fas fa-unlock-alt"></i>
                                        <span>
                                            {{'FECustomer.changePassword' | translate }}
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>