<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100 mb-3">

        <div class="card-header">
            <strong>{{ ((id && id !=0)?'documents.update':'documents.add') | translate : {name : fm.value.name}
                }}</strong>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            {{ 'documents.name' | translate }}
                            <span style="color:red">*</span>
                        </label>
                        <input type="text" class="form-control" name="name" formControlName="name"
                            placeholder="{{ 'documents.name' | translate }}" required>
                        <small style="color:red"
                            *ngIf="required || fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'documents.code' | translate }}<span class="ml-2"
                                        style="color:red">*</span></label>
                                <input type="text" class="form-control" name="code" formControlName="code"
                                    placeholder="{{ 'documents.code' | translate }}" required>
                                <small style="color:red"
                                    *ngIf="required || fm.get('code').invalid && fm.get('code').touched">{{'message.required'|translate}}</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    {{ 'documents.startDate' | translate }}
                                    <span style="color:red">*</span>
                                </label>
                                <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    name="start_date" class="form-control" formControlName="start_date" bsDatepicker>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'documents.endDate' | translate }}<span class="ml-2"
                                        style="color:red">*</span></label>
                                <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    name="end_date" class="form-control" formControlName="end_date" bsDatepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>{{ 'documents.groupDocument' | translate }}</label>
                                <div>
                                    <select name="group_document_id" formControlName="group_document_id"
                                        class="form-control">
                                        <option *ngFor="let item of document.groupDocument" [value]="+item.id">
                                            {{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'documents.agencies' | translate }}</label>
                                <div>
                                    <select name="agencies_id" formControlName="agencies_id" class="form-control">
                                        <option *ngFor="let item of document.agencies" [value]="+item.id">
                                            {{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ 'documents.field' | translate }}</label>
                                <div>
                                    <select name="field_id" formControlName="field_id" class="form-control">
                                        <option *ngFor="let item of document.field" [value]="+item.id">
                                            {{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label>{{ 'documents.typeDocument' | translate }}</label>
                                <div>
                                    <select name="type_document_id" formControlName="type_document_id"
                                        class="form-control">
                                        <option *ngFor="let item of document.typeDocument" [value]="+item.id">
                                            {{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" form-group">
                <label>File</label>
                <div class="custom-file" *ngIf="file">
                    <div *ngFor="let item of file.data ; let i = index">
                        <span (click)="file._change($event,item)" *ngIf="item.type==0 || item.type==1"
                            class="custom-file-label change">
                            <label *ngIf="item.type==0 || item.type==1">{{ item.name}}</label>
                        </span>
                        <span (click)="file._del(i)" *ngIf="item.type==0 || item.type==1"
                            class="custom-file-label del ">
                            <label class="mr-3" *ngIf="item.type==0 || item.type==1">{{
                                item.name}}</label>
                            <i class="fas fa-times-circle text-danger"
                                style="position: absolute;top: -10px ;right: 70px;z-index: 99;"></i>
                        </span>
                        <span class="custom-file-label add" for="inputGroupFile04" (click)="file._push($event)"
                            *ngIf="item.type==2">
                            chọn file
                        </span>
                    </div>
                    <input type="file" class="custom-file-input" id="inputGroupFile04" accept="application/pdf"
                        (change)="file._onchange($event)">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-success float-right">{{'btn.save'
                | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">{{'btn.back'
                | translate }}</button>
        </div>

    </div>
</form>