.import {
    &-tab {
        $space: 1.5rem;

        min-width: $space;
        height: $space;
        background-color: #787878;

        &--active {
            background-color: var(--primaryColor);
        }
    }

    &-row--valid {
        border: 1px solid #dc3545;
    }
}
