<div *ngIf="!initialState; then content else loading"></div>

<ng-template #content>
	<div *ngIf="+data.type !== 6 && +data.type !== 7; then page else detail"></div>

	<ng-template #page>
		<app-breadcrumb [input]="data"></app-breadcrumb>

		<div class="page">
			<div class="container-main">
				<div class="container-fluid">
					<ng-container [ngSwitch]="+data.type">
						<ng-template [ngSwitchCase]="2">
							<div *ngIf="data.detail?.length" class="page-detail overflow-hidden" id="page-detail"
								[innerHTML]="data.detail | sanitizeHtml"></div>
							<div *ngIf="!data.detail?.length" class="text-center">
								<h3>{{ 'lblUpdating' | translate }}</h3>
							</div>
						</ng-template>

						<ng-template [ngSwitchCase]="3">
							<app-product-list [link]="data.link"></app-product-list>
						</ng-template>

						<ng-template [ngSwitchCase]="4">
							<app-content-list [link]="data.link"></app-content-list>
						</ng-template>
					</ng-container>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template #detail>
		<app-detail-product *ngIf="+data.type === 6"></app-detail-product>

		<app-detail-content *ngIf="+data.type === 7"></app-detail-content>
	</ng-template>
</ng-template>

<ng-template #loading>
	<div class="grid-center" style="height: calc(100vh - 90px)">
		<app-loading></app-loading>
	</div>
</ng-template>